{% extends 'app/base.html.twig' %}

{% block title_page %}
    Reports - Personal Loans
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %}

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %}


{#
{% block header %}
        <h1>Clients list</h1><hr>
{% endblock %}
#}

{% block content %}

<style>
.table .label{
    font-size: 13px !important;
}
</style>

{#  Check the notifications #}
{% set created = 0 %}
{% for message in app.session.flashbag().get("success") %}
    <div class="alert alert-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{message}}</div>
{% endfor %}
{% for message in app.session.flashbag().get("error") %}
    <div class="alert alert-danger"><i class="fa fa-times" aria-hidden="true"></i> {{message}} </div>
{% endfor %}
{# End notifications #}

<section class="content-header">
      <h1>
        Last payments report
        <small></small>
      </h1>
      {#
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Client List</li>
      </ol>
      #}
</section>
<hr>
{# {{ app.user.usrId }} #}
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Filter date</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="form-control" id="rangeDate" placeholder="">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="applyDate">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-lg-6">
                        <div class="text-muted wellx well-smx no-shadowx">
                            Period
                            <b>From</b> {{ periodDate['startDate']|date('l d, F Y') }} <b>to</b> {{ periodDate['endDate']|date('l d, F Y') }}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        {% set lastLoan = srv_Dashboard.getLoanLastPaymentDetail(app.user.usrId, false, false, false, "0,1,2", periodDate) %}
                        {% if lastLoan|length > 0 %}
                            <table class="table table-striped" id="clientslist">
                                <thead>
                                    <tr>
                                        <td>Code</td>
                                        <td>
                                            Interest %
                                        </td>
                                        <td>Name</td>
                                        <td>Paid Interest</td>
                                        <td>Paid Capital</td>
                                        
                                        <td>Pending to pay </td>
                                        <td>Note</td>

                                        <td>Next Interest</td>
                                        <td>Next Interest amont </td>
                                        <td>Next Capita Capital amount</td>
                                        <td>Total Payment </td>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in lastLoan %}
                                    <tr>
                                        <td><a href="{{ path('loan_show', { 'loaId': item.loa_id }) }}" class="product-title">{{ item.loa_code }}</a></td>
                                        <td>
                                            {#
                                            {% if  item.loc_key == "active_rate" %}
                                                {% set pending =  srv_Loans.checkDeadLineToPay( item.loa_rate_interest, item.loa_recurring_day_payment, item.loa_deadline|date('Y-m-d'), srv_TimeZone.getNameTimeZone() ) %}
                                                {% if pending %}
                                                    {% set rate = pending.rate %}   
                                                    <span class="amounts">{{ rate }}%</span> 
                                                {% else %}
                                                    {% set rate = item.loa_rate_interest %}
                                                    <span class="amounts">{{ rate }}%</span>     
                                                {% endif %}
                                            {% endif %}
                                            -
                                            #}
                                            {% set rate =  item.lpa_current_rate_interest %}
                                            <span class="amounts">{{ item.lpa_current_rate_interest }}%</span>
                                        </td>
                                        <td>
                                            {{ item.name }}
                                        </td>
                                        <td>
                                        {# Esto esta malo corregir y poner filtro de fecha #}
                                            {% if item.loc_key == "active_rate" %}
                                            {#
                                                {% set paidAmount = srv_Loans.checkPaymentsPerLoan(item.loa_id) %}
                                                {% if paidAmount %}
                                                    {% set money = (item.loa_amount - paidAmount[0]['paidCapital']) %}
                                                {% else %}
                                                    {% set money = item.loa_amount %}
                                                {% endif %}
                                            
                                                Pending amount of interest rate
                                                <span class="amounts">
                                                    
                                                    ${{  ((money) * (rate/100))|number_format(2, '.', ',') }} - 
                                                </span>
                                                    <span class="amounts">
                                                    Capital = ${{ money|number_format(2, '.', ',') }} 
                                                      
                                                    </span>
                                             #}       
                                                ${{ item.lpa_paid_rate_interest|number_format(2, '.', ',')  }}    
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                ${{ item.lpa_paid_capital|number_format(2, '.', ',')  }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                {% set pendingPayment = (item.loa_amount - item.lpa_paid_capital)  %}
                                                ${{ pendingPayment|number_format(2, '.', ',')  }}
                                            {% endif %}
                                            {#
                                            {% if  item.loc_key == "active_rate" %}
                                                ${{  ((money) * (rate/100) + (money))|number_format(2, '.', ',') }}
                                            {% endif %}
                                            #}
                                        </td>
                                        <td>{{ item.note }}</td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                {# next Interest #}

                                                {% set pending =  srv_Loans.checkDeadLineToPay( item.loa_rate_interest, item.loa_recurring_day_payment, item.loa_deadline|date('Y-m-d'), srv_TimeZone.getNameTimeZone() ) %}
                                                {% if pending %}
                                                
                                                    {% set rate = pending.rate %}   
                                                    <span class="amounts">{{ rate }}%</span> 
                                                        
                                                {% else %}
                                                    Current Interest Rate
                                                    {% set rate = item.loa_rate_interest %}
                                                    <span class="amounts">{{ item.loa_rate_interest }}%</span>
                                                         
                                                {% endif %}

                                                {# {{ item.lpa_next_rate_interest }}% #}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                {# Next Interest amont #}
                                                ${{ ((pendingPayment) * (rate/100))|number_format(2, '.', ',')  }}
                                                
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                {# Next Capita Capital amount #}
                                                ${{ (pendingPayment)|number_format(2, '.', ',')  }}

                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                {# Next Capita Capital amount #}
                                                ${{  ((pendingPayment) * (item.lpa_next_rate_interest/100) + (pendingPayment))|number_format(2, '.', ',') }}
                                                
                                            {% endif %}
                                        </td>
                                       
                                      
                                        
                                    </tr>    
                                {% endfor %}
                                </tbody>    
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#
    <div class="col-lg-4">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Loans History</h3>
            </div>
            <div class="box-body">
                {{ include('app/dashboard/_tableLoansDetails.html.twig' )  }}        
            </div>
            <div class="box-footer text-center"></div>
        </div>
          
        <div class="info-box">
            <span class="info-box-icon bg-blue"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Created Clients</span>
                {% set clients = srv_Dashboard.getClients(app.user.usrId) %}
                <span class="info-box-number">{{ clients }}</span>
                <div><a href="{{ path('client_index') }}">View all clients</a></div>
             </div>
        <!-- /.info-box-content -->
         </div> 
    </div>
    #}
</div>    
{% endblock %}

{% block codejs %}
    <script>
        //$(document).on("ready", function(){
        $(function () {

            var urlFrom = "{{app.request.get('from')}}";
            var urlTo = "{{app.request.get('to')}}";

            if( urlFrom != "" && urlTo != "" )
            {
                var start = urlFrom;
                var end = urlTo;
            }
            else
            {
                var start = "{{ periodDate['startDate'] }}"//moment().subtract(7, 'days');
                var end = "{{ periodDate['endDate'] }}"//moment();
            }
            

            function cb(start, end) {
               // $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#rangeDate').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                locale: {
                    format: 'YYYY/MM/DD'
                }
            }, cb);

            cb(start, end);
            // initialize with defaults
            $('#clientslist').DataTable({
                //"scrollX": true,
                //'paging'      : true,
                //'lengthChange': false,
                //'searching'   : false,
                //'ordering'    : true,
                //'info'        : true,
                "iDisplayLength" : 10,
                "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
                'autoWidth'   : false,
                //'dom': 'Bfrtip',
                dom: 'Blfrtip',
                'buttons': [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
            });

            $("#applyDate").on("click", function(){
                $("#holder_loading").show();
                var txt = $.trim($('#rangeDate').val());
                txt = txt.split("-");
                var from = $.trim(txt[0]);
                var to = $.trim(txt[1]);
                window.location.href = "{{ path('report_index') }}?from="+from+"&to="+to;
            })
        });    
    </script>
{% endblock %}

