{% extends 'app/base.html.twig' %}

{% block title_page %}
    {% trans %}reports_title{% endtrans %} - {% trans %} app_name {% endtrans %}
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %}

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %}


{#
{% block header %}
        <h1>Clients list</h1><hr>
{% endblock %}
#}

{% block content %}

<style>
.table .label{
    font-size: 13px !important;
}
.titleTypeColumn{
    display:inline-block;
    width:170px;
}
#prevP, .prevP{
    background:#D2D6DE;
}
#nextP, .nextP{
    background: #00C0EF;
}

#prevP, #nextP{
    width: 20px;
    height: 20px;
    display: inline-block;
}
</style>

{#  Check the notifications #}
{% set created = 0 %}
{% for message in app.session.flashbag().get("success") %}
    <div class="alert alert-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{message}}</div>
{% endfor %}
{% for message in app.session.flashbag().get("error") %}
    <div class="alert alert-danger"><i class="fa fa-times" aria-hidden="true"></i> {{message}} </div>
{% endfor %}
{# End notifications #}

<section class="content-header">
      <h1>
        {% trans %}reports_title{% endtrans %}
        <small></small>
      </h1>
      {#
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Client List</li>
      </ol>
      #}
</section>
<hr>
{# {{ app.user.usrId }} #}
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans %}reports_subtitle{% endtrans %}</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <label class="radio-inline">
                        <input type="radio" name="optFilter" id="inlineRadio1" value="1" checked>{% trans %}reports_opt_next_payment{% endtrans %}
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="optFilter" id="inlineRadio2" value="2">{% trans %}reports_opt_payments_done{% endtrans %}
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="optFilter" id="inlineRadio3" value="3">{% trans %}reports_opt_show_both{% endtrans %}
                        </label>
                    </div>
                    <br><br>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="form-control" id="rangeDate" placeholder="">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="applyDate">{% trans %}reports_btn_filter_date{% endtrans %}</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-lg-6">
                        <div class="text-muted wellx well-smx no-shadowx">
                            {% trans %}reports_period{% endtrans %}
                            <b>{% trans %}reports_btn_filter_info_from{% endtrans %}</b> 
                                {# {{ periodDate['startDate']|date('l d, F Y') }} #}
                                {{ periodDate['startDate']|localizeddate('full', 'none', app.request.getLocale()) }}
                            <b>{% trans %}reports_btn_filter_info_to{% endtrans %}</b> 
                                {# {{ periodDate['endDate']|date('l d, F Y') }} #}
                                {{ periodDate['endDate']|localizeddate('full', 'none', app.request.getLocale()) }}
                            <hr>
                            
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        {% set lastLoan = srv_Dashboard.getLoanLastPaymentDetail(app.user.usrId, false, false, false, "0,1,2", periodDate, opt) %}
                        {% if lastLoan|length > 0 %}
                            {#
                            <span id="prevP">&#160;</span> Previous Payment
                            <span id="nextP">&#160;</span> Next Payment
                            <br><br>
                            #}
                            {#
                            <div id="headerToggle">
                                <p>
                                <span class="titleTypeColumn">Previous Payment Columns: </span>
                                    <label class="checkbox-inline"><input type="checkbox" class="toggle-vis" data-column="2" />Previous interest %</label>
                                    <label class="checkbox-inline"><input type="checkbox" class="toggle-vis" data-column="3"/>Paid interest</label> 
                                    <label class="checkbox-inline"><input type="checkbox" class="toggle-vis" data-column="4"/>Paid capital</label> 
                                    <label class="checkbox-inline"><input type="checkbox" class="toggle-vis" data-column="5"/>Pending to pay</label> 
                                    <label class="checkbox-inline"><input type="checkbox" class="toggle-vis" data-column="6"/>Note</label>
                                </p>    
                                <p>
                                    <span class="titleTypeColumn">Next Payment Columns:</span> 
                                    <label class="checkbox-inline"><input type="checkbox" class="toggle-vis" data-column="7" checked/>Next interest</label> 
                                    <label class="checkbox-inline"><input type="checkbox" class="toggle-vis" data-column="8" checked/>Next interest amount</label> 
                                    <label class="checkbox-inline"><input type="checkbox" class="toggle-vis" data-column="9" checked/>Next capita amount</label> 
                                    <label class="checkbox-inline"><input type="checkbox" class="toggle-vis" data-column="10" checked/>Total payment</label>
                                </p>
                                <hr>
                            </div>
                            #}
                            <table id="clientslist" class="table table-striped display nowrap" style="width:100%">
                                <thead>
                                    <tr>
                   
                                        <th colspan="3" class="text-center"></th>

                                        <th colspan="5" style="background-color: #D2D6DE; color: #34825F" class="text-center">{% trans %}reports_table_title_previous_payments{% endtrans %}</th>
                                        <th colspan="4" style="background-color: #00C0EF; color: #fff" class="text-center">{% trans %}reports_table_title_next_payment{% endtrans %}</th>

                                    </tr>
                                    <tr>
                                        <td>{% trans %} reports_table_title_code {% endtrans %}</td>
                                        <td>{% trans %}reports_table_title_loan_type {% endtrans %}</td>
                                        <td>{% trans %}reports_table_title_name{% endtrans %}</td>
                                        <td>{% trans %}reports_table_title_previous_interest{% endtrans %}</td>
                                        <td>{% trans %} reports_table_title_paid_interest {% endtrans %}</td>
                                        <td>{% trans %}reports_table_title_paid_capital{% endtrans %}</td>
                                        <td>{% trans %} reports_table_title_pending_to_pay {% endtrans %}</td>
                                        <td>{% trans %}reports_table_title_note{% endtrans %}</td>
                                        <td>{% trans %} reports_table_title_next_interest {% endtrans %}</td>
                                        <td>{% trans %}reports_table_title_next_interest_amount{% endtrans %}</td>
                                        <td>{% trans %}reports_table_title_next_capital_amount{% endtrans %}</td>
                                        <td>{% trans %}reports_table_title_total_payment{% endtrans %}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in lastLoan %}
                                    <tr>
                                        <td><a href="{{ path('loan_show', { 'loaId': item.loa_id }) }}" class="product-title">{{ item.loa_code }}</a></td>
                                        <td>{{ item.loc_type }}</td>
                                        <td>
                                            {{ item.name }}
                                        </td>
                                        <td>
                                            {#
                                            {% if  item.loc_key == "active_rate" %}
                                                {% set pending =  srv_Loans.checkDeadLineToPay( item.loa_rate_interest, item.loa_recurring_day_payment, item.loa_deadline|date('Y-m-d'), srv_TimeZone.getNameTimeZone() ) %}
                                                {% if pending %}
                                                    {% set rate = pending.rate %}   
                                                    <span class="amounts">{{ rate }}%</span> 
                                                {% else %}
                                                    {% set rate = item.loa_rate_interest %}
                                                    <span class="amounts">{{ rate }}%</span>     
                                                {% endif %}
                                            {% endif %}
                                            -
                                            #}
                                            {% if item.loc_key == "active_rate" %}
                                                {% set rate =  item.lpa_current_rate_interest %}
                                                {% if item.lpa_total_amount_paid > 0 %}    
                                                        <span class="amounts">{{ item.lpa_current_rate_interest }}%</span>
                                                {% else %}
                                                        N/A      
                                                {% endif %}
                                            {% else %}
                                                N/A    
                                                {# No Interesrt Rate#}
                                                {% set prevData = srv_Dashboard.getPrevAndNextPaymentNoRate(item.loa_id, "prev") %}
                                                {% set nextData = srv_Dashboard.getPrevAndNextPaymentNoRate(item.loa_id, "next") %}
                                                {% set returnAmount = srv_Loans.getTotalReturnAmountRequested(item.loa_id) %} 
                                                {% set totalReturnAmountPaid = srv_Loans.getTotalAmountPaid(item.loa_id) %}
                                            {% endif %}
                                            
                                        </td>
                                        <td>
                                        {# Esto esta malo corregir y poner filtro de fecha #}
                                            {% if item.loc_key == "active_rate" %}
                                            {#
                                                {% set paidAmount = srv_Loans.checkPaymentsPerLoan(item.loa_id) %}
                                                {% if paidAmount %}
                                                    {% set money = (item.loa_amount - paidAmount[0]['paidCapital']) %}
                                                {% else %}
                                                    {% set money = item.loa_amount %}
                                                {% endif %}
                                            
                                                Pending amount of interest rate
                                                <span class="amounts">
                                                    
                                                    ${{  ((money) * (rate/100))|number_format(2, '.', ',') }} - 
                                                </span>
                                                    <span class="amounts">
                                                    Capital = ${{ money|number_format(2, '.', ',') }} 
                                                      
                                                    </span>
                                             #}   
                                                {% if item.lpa_total_amount_paid > 0 %}    
                                                    ${{ item.lpa_paid_rate_interest|number_format(2, '.', ',')  }}
                                                {% else %}
                                                    N/A      
                                                {% endif %}
                                            {% else %}
                                                ${{ prevData[0].lpa_paid_rate_interest|number_format(2, '.', ',')  }}
                                            {% endif %}

                                             
                                        </td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                
                                                {% if item.lpa_total_amount_paid > 0 %}    
                                                    ${{ item.lpa_paid_capital|number_format(2, '.', ',')  }}
                                                {% else %}
                                                    N/A      
                                                {% endif %}
                                            {% else %}
                                                
                                                ${{ prevData[0].lpa_paid_capital|number_format(2, '.', ',')  }}    
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                {% set pendingPayment = (item.loa_amount - item.lpa_paid_capital)  %}

                                                {% set sumCapital = srv_Loans.checkPaymentsPerLoan(item.loa_id) %}
                                                {% set pendingPayment =  item.loa_amount - sumCapital[0]["paidCapital"] %}
                                                
                                                

                                                {% if item.lpa_total_amount_paid > 0 or pendingPayment > 0 %}    
                                                    ${{ pendingPayment|number_format(2, '.', ',')  }}
                                                {% else %}
                                                    N/A      
                                                {% endif %}
                                            {% else %} 
                                                ${{ (returnAmount - totalReturnAmountPaid)|number_format(2, '.', ',') }}
                                            {% endif %}

                                            
                                            {#
                                            {% if  item.loc_key == "active_rate" %}
                                                ${{  ((money) * (rate/100) + (money))|number_format(2, '.', ',') }}
                                            {% endif %}
                                            #}
                                           
                                        </td>
                                        <td>{{ item.note }}</td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                {# next Interest #}

                                                {% set pending =  srv_Loans.checkDeadLineToPay( item.loa_rate_interest, item.loa_recurring_day_payment, item.loa_deadline|date('Y-m-d'), srv_TimeZone.getNameTimeZone() ) %}
                                                {% if pending %}
                                                
                                                    {% set rate = pending.rate %}   
                                                    <span class="amounts">{{ rate }}%</span> 
                                                        
                                                {% else %}
                                                    
                                                    {% set rate = item.loa_rate_interest %}
                                                    <span class="amounts">{{ item.loa_rate_interest }}%</span>
                                                         
                                                {% endif %}

                                                {# {{ item.lpa_next_rate_interest }}% #}
                                            {% else %}
                                                N/A    
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                {# Next Interest amont #}
                                                ${{ ((pendingPayment) * (rate/100))|number_format(2, '.', ',')  }}
                                            {% else %}
                                                N/A     
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                {# Next Capita Capital amount #}
                                                ${{ (pendingPayment)|number_format(2, '.', ',')  }}
                                            {% else %}
                                                N/A 
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.loc_key == "active_rate" %}
                                                {# Next Capita Capital amount #}
                                                ${{  ((pendingPayment) * (rate/100) + (pendingPayment))|number_format(2, '.', ',') }}
                                            {% else %}
                                                 ${{ nextData[0].lpa_current_amount|number_format(2, '.', ',')  }}
                                            {% endif %}
                                        </td>
                                       
                                      
                                        
                                    </tr>    
                                {% endfor %}
                                </tbody>    
                            </table>
                        {% else %}
                            <div class="alert alert-warning text-center">{% trans %}reports_table_no_data_found{% endtrans %}</div>    
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#
    <div class="col-lg-4">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Loans History</h3>
            </div>
            <div class="box-body">
                {{ include('app/dashboard/_tableLoansDetails.html.twig' )  }}        
            </div>
            <div class="box-footer text-center"></div>
        </div>
          
        <div class="info-box">
            <span class="info-box-icon bg-blue"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Created Clients</span>
                {% set clients = srv_Dashboard.getClients(app.user.usrId) %}
                <span class="info-box-number">{{ clients }}</span>
                <div><a href="{{ path('client_index') }}">View all clients</a></div>
             </div>
        <!-- /.info-box-content -->
         </div> 
    </div>
    #}
</div>    
{% endblock %}

{% block codejs %}
    <script>
        //$(document).on("ready", function(){
        $(function () {

            var urlFrom = "{{app.request.get('from')}}";
            var urlTo = "{{app.request.get('to')}}";

            if( urlFrom != "" && urlTo != "" )
            {
                var start = urlFrom;
                var end = urlTo;
            }
            else
            {
                var start = "{{ periodDate['startDate'] }}"//moment().subtract(7, 'days');
                var end = "{{ periodDate['endDate'] }}"//moment();
            }
            

            function cb(start, end) {
               // $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            {% if app.request.getLocale() == "en" %}
                var locale_daterangepicker = {
                    "direction": "ltr",
                    "format": "YYYY/MM/DD",
                    "separator": " - ",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom Range",
                    "daysOfWeek": [
                        "Su",
                        "Mo",
                        "Tu",
                        "We",
                        "Th",
                        "Fr",
                        "Sa"
                    ],
                    "monthNames": [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"
                    ],
                    "firstDay": 1
                };
                $('#rangeDate').daterangepicker({
                    startDate: start,
                    endDate: end,
                    ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    locale: 
                    // format: 'YYYY/MM/DD'
                    locale_daterangepicker
                    
                }, cb);

                var all = "All";
            {% else %}
                var locale_daterangepicker = {
                    "direction": "ltr",
                    "format": "YYYY/MM/DD",
                    "separator": " - ",
                    "applyLabel": "Aplicar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "DE",
                    "toLabel": "HASTA",
                    "customRangeLabel": "Rango personalizado",
                    "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sáb"
                    ],
                    "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                };
                $('#rangeDate').daterangepicker({
                    startDate: start,
                    endDate: end,
                    ranges: {
                    'Hoy': [moment(), moment()],
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Últimos 7 Días': [moment().subtract(6, 'days'), moment()],
                    'Últimos 30 Días': [moment().subtract(29, 'days'), moment()],
                    'Mes Actual': [moment().startOf('month'), moment().endOf('month')],
                    'Mes Anteriror': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    locale: 
                    // format: 'YYYY/MM/DD'
                    locale_daterangepicker
                    
                }, cb);

                var all = "Todo";
            {% endif %}

            cb(start, end);
            // initialize with defaults
            var table = $('#clientslist').DataTable({
                "scrollX": true,
                //'paging'      : true,
                //'lengthChange': false,
                //'searching'   : false,
                //'ordering'    : true,
                //'info'        : true,
                "iDisplayLength" : 10,
                "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, all]],
                'autoWidth'   : false,
                //'dom': 'Bfrtip',
                dom: 'Blfrtip',
                'buttons': [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5',
                    //'colvis'
                ],
                "language": {
                    //"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
                    {{ srv_Dashboard.langDatata(app.request.getLocale()) }}
                }
                
                
            });
            /*
            $("#headerToggle input:checkbox").each(function(){
                if( !$(this).is(':checked') )
                {
                    // Get the column API object
                    var column = table.column( $(this).attr('data-column') );
            
                    // Toggle the visibility
                    column.visible( ! column.visible() );
                }
            });
            $('.toggle-vis').change(function () {
            //$('a.toggle-vis').on( 'click', function (e) {
                //e.preventDefault();
        
                // Get the column API object
                var column = table.column( $(this).attr('data-column') );
        
                // Toggle the visibility
                column.visible( ! column.visible() );
            } );
            */
            
            var radio = "{{ app.request.get('opt') }}";
            if( radio > 0 && radio < 4 )
            {
                $("input[name=optFilter][value=" + radio + "]").prop('checked', true);
            }

            $("#applyDate").on("click", function(){
                $("#holder_loading").show();
                var opt = $("input[name='optFilter']:checked").val();
                //alert(opt);
                var txt = $.trim($('#rangeDate').val());
                txt = txt.split("-");
                var from = $.trim(txt[0]);
                var to = $.trim(txt[1]);
                window.location.href = "{{ path('report_index') }}?from="+from+"&to="+to+"&opt="+opt;
            })
        });    
    </script>
{% endblock %}

