{% extends 'app/base.html.twig' %}

{% block title_page %}
    Image profile - Personal Loans
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %}

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %}



{% block header %}
        
{% endblock %}

{% block content %}

<style>
#holderNewImage{
    display:none;
}
#upload-image{
    margin-top: 12px;
}
#holderNewImage{
    margin-bottom:20px;
}

.cr-boundary{
    margin-left: 20px !important;
}
.cr-slider-wrap{
     margin-left: 0px !important;
}
</style>

{#  Check the notifications #}
{% set created = 0 %}
{% for message in app.session.flashbag().get("success") %}
    <div class="alert alert-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{message}}</div>
{% endfor %}
{% for message in app.session.flashbag().get("error") %}
    <div class="alert alert-danger"><i class="fa fa-times" aria-hidden="true"></i> {{message}} </div>
{% endfor %}
{# End notifications #}

<section class="content-header">
      <h1>
        {% if app.request.get('clientId') > 0  %}
            Client image profile
        {% else %}
            My current image profile
        {% endif %}
         
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('dashboard_index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Image Profile</li>
      </ol>
</section>
<hr>
<div class="box">
    <div class="box-header">
    </div>
    <div class="box-body">
        <div class="row">
            {% if app.request.get('clientId') > 0  %}
                <div class="col-lg-12">
                    <div class="well">
                        <span class="labelInfo"><i class="fa fa-user-circle-o" aria-hidden="true"></i>  Client:</span>
                        <a href="{{ profile.cliId }}" class="btnShowClient">
                            {{ profile.cliFirstName ~" "~ profile.cliMiddleName ~" "~ profile.cliFirstSurname ~" "~ profile.cliSecondSurname }}
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-4">
                <span><b>Current Image</b></span>
                <hr>                
                <div id="upload-image-i">
                    {% if file_exists( 'uploads/'~image ) and image != "" %}
                        <img src="{{ image('uploads/'~image).cropResize(250,250) }}" class="img-thumbnail">
                    {% else %}
                        <div class="alertx alert-infox text-center">
                            <b>
                            {% if app.request.get('clientId') > 0  %}
                                Client doesn't have profile image, please select one
                            {% else %}
                                You don't have profile image, please select one
                            {% endif %}   
                            </b> 
                            <br><br>
                        </div>
                        <div class="text-center">
                            <img src="{{ image('bundles/app/images/user.png').cropResize(250,250)  }} " class="demo" style="max-width: 100%;" alt="image">
                        </div>
                    {% endif %}
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="checkbox" style="margin-bottom: 0px;margin-top: 0px;">
                    <label for="newImage"><span><input type="checkbox" id="newImage" name="newImage">  Select New Image</span></label>
                </div>
                <hr>
                <div id="holderNewImage">
                    
                    <div>
                        <input type="file" id="images">
                        </div>  
                        <div id="upload-image"></div>
                        <button class="btn btn-success cropped_image">Upload Image</button>
                    </div>
                </div>
                
            <div>
              <hr class="col-lg-12">  
            </div> 
        </div>
    </div>    
</div>
{{ include('app/client/_modals.html.twig' )  }}   
{% endblock %}

{% block codejs %}
    <script>
        //$(document).on("ready", function(){
        $(function () {

            $( '#newImage' ).on( 'click', function() {
                if( $(this).is(':checked') ){
                    // Hacer algo si el checkbox ha sido seleccionado
                    $("#holderNewImage").show();
                } else {
                     $("#holderNewImage").hide();
                }
            });


            // initialize with defaults

            $image_crop = $('#upload-image').croppie({
                enableExif: true,
                viewport: {
                    width: 275,
                    height: 275,
                    type: 'square'
                },
                boundary: {
                    width: 350,
                    height: 350
                }
            });
            $('#images').on('change', function () {

                var countFiles = $(this)[0].files.length;

                var imgPath = $(this)[0].value;
                var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();


                if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                    var image_holder = $("#image-holder");
                    image_holder.empty();
                    if (typeof (FileReader) != "undefined") {

                        //loop for each file selected for uploaded.
                        for (var i = 0; i < countFiles; i++) {

                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $("<img/>", {
                                    "src": e.target.result,
                                        "class": "thumb-image img-thumbnail"
                                }).appendTo(image_holder);
                            }

                            image_holder.show();
                            reader.readAsDataURL($(this)[0].files[i]);
                        }


                    } else {
                        alert("This browser does not support FileReader.");
                    }
                } else {

                    $.alert({
                            icon: 'fa fa-warning',
                            title: 'Error!',
                            type: "red",
                            content: 'Please select only images',
                        });
                    $("#images").val("");
                }


                var reader = new FileReader();
                reader.onload = function (e) {
                    $image_crop.croppie('bind', {
                        url: e.target.result
                    }).then(function(){
                        console.log('jQuery bind complete');
                    });
                }
                reader.readAsDataURL(this.files[0]);
            });

            $('.cropped_image').on('click', function (ev) {

                var image = $("#images").val();
                if( $.trim(image) == "" )
                {
                    $.alert({
                        icon: 'fa fa-warning',
                        title: 'Error!',
                        type: "red",
                        content: 'Select an image!',
                    });
                    return false;
                }
                $image_crop.croppie('result', {
                    type: 'canvas',
                    size: 'viewport'
                }).then(function (response) {
                    $("#holder_loading").show(); 
                    var clientId = "{{ app.request.get('clientId') }}";
                    if( clientId !="" )
                    {
                        var url = "{{ path('setProfileImage_upload') }}?clientId="+clientId;
                    }else{
                        var url = "{{ path('setProfileImage_upload') }}";
                    }
                    $.ajax({
                        //url: "http://coderszine.com/demo/crop-image-and-upload-using-jquery-and-php/upload.php",
                        url: url,
                        type: "POST",
                        data: {"image":response},
                        success: function (data) {
                            if(data == 1 )
                            {
                                html = '<img src="' + response + '" />';
                                $("#upload-image-i").html(html);
                                location.reload();
                            }else{
                                $("#holder_loading").hide(); 
                                $.alert({
                                    icon: 'fa fa-warning',
                                    title: 'Alert!',
                                    type: "red",
                                    content: 'There was an error!',
                                });
                            }
                        },
                        error:function($data){
                            $("#holder_loading").hide(); 
                                $.alert({
                                    icon: 'fa fa-warning',
                                    title: 'Alert!',
                                    type: "red",
                                    content: 'There was an error!',
                                });
                        }
                    });
                });
            });

            $("body").on("click",".btnShowClient",function(event){
                event.preventDefault();
                var id = $(this).attr("href");
                showClient(id);
            });

            function showClient(id) {
                var id = id;
                var routeShow = "{{ path('client_show', { 'cliId': 'PLACEHOLDER'}) }}";
                routeShow = routeShow.replace("PLACEHOLDER", id);
				$("#holder_loading").show();
				$.ajax({
						type: "POST",
						url: routeShow,
						data: { id:id},
						error: function (data) {
							$("#holder_loading").hide();
							$.confirm({
								icon: 'fa fa-remove',
								title: 'Error!',
								content: 'An error occurred while trying to send the request',
								type: 'red',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Try again',
										btnClass: 'btn-red',
										action: function () {
											showClient(id);
										}
									},
									close: function () {
									}
								}
							});

						},
						success: function (data) {

							if (data != "")
							{

								//$('form[name$=appbundle_paciente]')[0].reset();
								//var routeShow = " {# {{ path('perfil_show') }} #}" //routeShow.replace("PLACEHOLDER", data);
								//window.location.assign(routeShow);
								$('#modalShowClient').modal({backdrop: 'static', keyboard: false});
                                $("#holderBodyModal").html(data);

                                var href = "{{ path('client_edit', { 'cliId': 'PLACEHOLDER' }) }}";
                                href = href.replace("PLACEHOLDER", id);    
                                $("body").find("#btnModalEditClient").attr("href", href);
                                $("body").find("#btnModalLoanClient").val(id);
        

                                $("#holder_loading").hide();
                                /*
                                $.alert({
                                    icon: 'fa fa-address-card-o',
                                    title: 'Client',
                                    type: "green",
                                    content: 'Full information'+data,
                                });
                                */
							} else
							{
								$("#holder_loading").hide();
								var infoError = (data);
								$.alert({
									icon: 'glyphicon glyphicon-exclamation-sign',
									title: 'Info!',
									content: 'An error occurred while trying to save the information <br>' + infoError,
									type: 'blue',
									typeAnimated: true,
								});
							}
						}
					});
            }

        });
    </script>
{% endblock %}
