<div class="row">
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-greenx well">
            {% set loandCompletedPeriod = srv_Dashboard.getLoansDetail(app.user.usrId, periodDate, 1) %}
            <div class="inner">
              <h3>{{ loandCompletedPeriod["total"]}}<sup style="font-size: 20px"></sup></h3>

              
              <h4><span class="label label-success">{% trans %}dashboard_loans_finished{% endtrans %}</span></h4>
              <hr>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h5 class="panel-title">{{ periodDate["startDate"]|replace({'-': "/"}) ~" - "~ periodDate["endDate"]|replace({'-': "/"}) }}</h5>
                </div>
                <div class="panel-body">      
                  <b><p>{% trans %}dashboard_period_detail_filtered{% endtrans %}:</p></b>
                  <table class="table table-striped">
                    <tr>
                      <td>{% trans %}dashboard_loans_paid_to_capital{% endtrans %}:</td><td> ${{ loandCompletedPeriod["periodDetail"]['periodPaidCapital']|number_format(2, '.', ',') }}</td>
                    </tr>  
                    <tr>
                      <td>{% trans %}dashboard_loans_paid_to_interest{% endtrans %}:</td><td> ${{ loandCompletedPeriod["periodDetail"]['periodPaidRate']|number_format(2, '.', ',') }}</td>
                    </tr>  
                    <tr>
                      <td>{% trans %}dashboard_loans_total_money_acquired{% endtrans %}:</td>
                      <td> {{ (loandCompletedPeriod["periodDetail"]['periodPaidCapital'] + loandCompletedPeriod["periodDetail"]['periodPaidRate'])|number_format(2, '.', ',') }}</td>
                    </tr>  
                  </table>
                </div>
              </div>  
                  <hr>
                  <b><p>{% trans %} dashboard_loans_full_history {% endtrans %}:</p></b>
                  <table class="table table-striped">
                    <tr>
                      <td>{% trans %}dashboard_loans_invested money{% endtrans %}:</td><td> ${{ loandCompletedPeriod["totalDetail"]['totalInvestedMoney']|number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>  
                      <td>{% trans %}dashboard_loans_paid_to_capital{% endtrans %}:</td><td> ${{ loandCompletedPeriod["totalDetail"]['totalPaidCapital']|number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>  
                      <td>{% trans %}dashboard_loans_paid_to_interest{% endtrans %}:</td><td> ${{ loandCompletedPeriod["totalDetail"]['totalPaidRate']|number_format(2, '.', ',') }}</td>
                    </tr>  
                  </table>
                
            </div>
            <div class="icon">
              <i class="fa fa-check-circle fa-2"></i>
            </div>
            <a href="{{ path('loan_index') }}?sta=1" class="small-box-footer">{% trans %}dashboard_more_info{% endtrans %} <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aquax well">
            <div class="inner">
              {% set loandCreatedPeriod = srv_Dashboard.getLoansDetail(app.user.usrId, periodDate, 0) %}
              <h3>{{ loandCreatedPeriod["total"] }}</h3>

              <h4><span class="label label-default">{% trans %}dashboard_loans_created_no_finished{% endtrans %} </span></h4>
              <hr>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h5 class="panel-title">{{ periodDate["startDate"]|replace({'-': "/"}) ~" - "~ periodDate["endDate"]|replace({'-': "/"}) }}</h5>
                </div>
                <div class="panel-body">
                  <b><p>{% trans %}dashboard_period_detail_filtered{% endtrans %}:</p></b>
                  <table class="table table-striped">
                    <tr>
                      <td>{% trans %}dashboard_loans_paid_to_capital{% endtrans %}:</td><td> ${{ loandCreatedPeriod["periodDetail"]['periodPaidCapital']|number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>  
                      <td>{% trans %}dashboard_loans_paid_to_interest{% endtrans %}:</td><td> ${{ loandCreatedPeriod["periodDetail"]['periodPaidRate']|number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>  
                      <td>{% trans %}dashboard_loans_total_money_acquired{% endtrans %}:</td><td> ${{ (loandCreatedPeriod["periodDetail"]['periodPaidCapital'] + loandCreatedPeriod["periodDetail"]['periodPaidRate'])|number_format(2, '.', ',') }}</td>
                    </tr>
                  </table>
                </div>
              </div>

              <hr>
              <b><p>{% trans %} dashboard_loans_full_history {% endtrans %}:</p></b>
              <table class="table table-striped">
                  <tr>
                    <td>{% trans %}dashboard_loans_invested money{% endtrans %}:</td> <td>${{ loandCreatedPeriod["totalDetail"]['totalInvestedMoney']|number_format(2, '.', ',') }}</td>
                  </tr>
                  <tr>  
                    <td>{% trans %}dashboard_loans_paid_to_capital{% endtrans %}:</td><td> ${{ loandCreatedPeriod["totalDetail"]['totalPaidCapital']|number_format(2, '.', ',') }}</td>
                  </tr>
                  <tr>  
                    <td>{% trans %}dashboard_loans_paid_to_interest{% endtrans %}:</td><td> ${{ loandCreatedPeriod["totalDetail"]['totalPaidRate']|number_format(2, '.', ',') }}</td>
                  </tr>
              </table>
            </div>
            <div class="icon">
              <i class="fa fa-handshake-o"></i>
            </div>
            <a href="{{ path('loan_index') }}?sta=0" class="small-box-footer">{% trans %}dashboard_more_info{% endtrans %}  <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        

        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-redx well">
            {% set loandFreezedPeriod = srv_Dashboard.getLoansDetail(app.user.usrId, periodDate, 2) %}
            <div class="inner">
              <h3>{{ loandFreezedPeriod["total"]}}<sup style="font-size: 20px"></sup></h3>

              
              <h4><span class="label label-danger">{% trans %}dashboard_loans_freezed{% endtrans %}</span></h4>
              <hr>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h5 class="panel-title">{{ periodDate["startDate"]|replace({'-': "/"}) ~" - "~ periodDate["endDate"]|replace({'-': "/"}) }}</h5>
                </div>
                <div class="panel-body">
                <b><p>{% trans %}dashboard_period_detail_filtered{% endtrans %}:</p></b>
                  <table class="table table-striped">
                    <tr>
                      <td>{% trans %}dashboard_loans_paid_to_capital{% endtrans %}:</td><td> ${{ loandFreezedPeriod["periodDetail"]['periodPaidCapital']|number_format(2, '.', ',') }}</td>
                    </tr>  
                    <tr>
                      <td>{% trans %}dashboard_loans_paid_to_interest{% endtrans %}:</td><td> ${{ loandFreezedPeriod["periodDetail"]['periodPaidRate']|number_format(2, '.', ',') }}</td>
                    </tr>  
                    <tr>
                      <td>{% trans %}dashboard_loans_total_money_acquired{% endtrans %}:</td>
                      <td> ${{ (loandFreezedPeriod["periodDetail"]['periodPaidCapital'] + loandFreezedPeriod["periodDetail"]['periodPaidRate'])|number_format(2, '.', ',') }}</td>
                    </tr>  
                  </table>
                </div>
              </div>
              <hr>
              <b><p>{% trans %} dashboard_loans_full_history {% endtrans %}:</p></b>
              <table class="table table-striped">
                <tr>
                  <td>{% trans %}dashboard_loans_invested money{% endtrans %}:</td><td> ${{ loandFreezedPeriod["totalDetail"]['totalInvestedMoney']|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>  
                  <td>{% trans %}dashboard_loans_paid_to_capital{% endtrans %}:</td><td> ${{ loandFreezedPeriod["totalDetail"]['totalPaidCapital']|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>  
                  <td>{% trans %}dashboard_loans_paid_to_interest{% endtrans %}:</td><td> ${{ loandFreezedPeriod["totalDetail"]['totalPaidRate']|number_format(2, '.', ',') }}</td>
                </tr>  
              </table>
            </div>
            <div class="icon">
              <i class="fa fa-ban"></i>
            </div>
            <a href="{{ path('loan_index') }}?sta=2" class="small-box-footer">{% trans %}dashboard_more_info{% endtrans %}  <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-xs-6">
          {% set sumTotalCapital =  
              loandFreezedPeriod["periodDetail"]['periodPaidCapital'] + loandCreatedPeriod["periodDetail"]['periodPaidCapital'] + loandCompletedPeriod["periodDetail"]['periodPaidCapital']
          %}
          {% set sumTotalRate = 
            loandCompletedPeriod["periodDetail"]['periodPaidRate'] + loandCreatedPeriod["periodDetail"]['periodPaidRate'] + loandFreezedPeriod["periodDetail"]['periodPaidRate']
          %}

          <div class="panel panel-info">
            <div class="panel-heading">
              <h5 class="panel-title">{{ periodDate["startDate"]|replace({'-': "/"}) ~" - "~ periodDate["endDate"]|replace({'-': "/"}) }}</h5>
            </div>
            <div class="panel-body">

              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-dollar"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">
                    {% trans %} dashboard_sum_total_capital {% endtrans %}: <b>${{ sumTotalCapital|number_format(2, '.', ',') }}</b>
                    <br>
                   {% trans %} dashboard_sum_total_interest {% endtrans %}: <b>${{ sumTotalRate|number_format(2, '.', ',') }}</b>
              
                  </span>
                  <span class="info-box-number">Total: {{ (sumTotalCapital + sumTotalRate)|number_format(2, '.', ',') }}</span>
                </div>
                <!-- /.info-box-content -->  
              </div>

              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-dollar"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">
                  {% trans %}dashboard_invested_money{% endtrans %}
              
                  </span>
                  <span class="info-box-number">${{ loandCreatedPeriod["totalDetail"]['totalInvestedMoney']|number_format(2, '.', ',') }}</span>
                </div>
                <!-- /.info-box-content -->
                
              </div>
            </div>
          </div>
          
        </div>
        <!-- ./col -->
        

      </div>