<style>
.amounts{
    font-size:14px;
    font-weight: 600;
    color: #34825F;
}

.titleCurrency{
    font-size: 18px !important;
}

.actionFreezed{
    color: #96271b;
    font-weight: 700;
}

.actionPaid{
    color: #366d54;
    font-weight: 700;
}

#total, #totalPaid, #pending{
    color: green;
}
.pending{
    background: #EC971F;
    color: #fff !important;
}
.nothingPending{
    background:#00A65A;
    color: #fff !important;
}
.amounts{
    font-size:16px;
    font-weight: 700;
    color: #34825F;
}
.labelCurrency{
    display:inline-block;
    width: 150px;
    font-size: 19px;
}
.loanCompleted{
    color: #00A65A;
    font-size:20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.widthAuto {
   width: auto !important;
}
</style>

<div class="row">
    <div class="col-md-4"><span><i class="fa fa-money" aria-hidden="true"></i> {% trans %}loan_table_rate_payments_history{% endtrans %}: <span class="badge"></span></span></div>
    <div class="col-md-4 col-md-offset-4 text-right">
        <form class="form-inline"> 
            <div class="form-group">
                <a class="" href="{{ path('loanpayment_quotasHistory') }}?loaId={{loan.loaId}}">{% trans %}loan_table_rate_payments_full_history{% endtrans %}</a>
            </div>
        </form>
    </div>
</div>
<hr>
<input type='hidden' value="{{ loan.loaRecurringDayPayment }}" id='curringDaySelected'>
{% if arr %}
                        <table class="table table-striped display nowrap" id="tablePayments" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{% trans %}loan_table_payments_payment_date{% endtrans %}</th>
                                        <th>{% trans %}loan_table_payments_paid_date{% endtrans %}</th>
                                        <th>{% trans %}loan_table_rate_payments_paid_amount{% endtrans %}</th>
                                        <th>{% trans %}loan_table_rate_payments_rate{% endtrans %}</th>
                                        <th>{% trans %}loan_msg_paid_capital{% endtrans %}</th>
                                        <th>{% trans %}loan_msg_paid_interest{% endtrans %}</th>
                                        <th>{% trans %}loan_table_rate_payments_status{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set counter = 0 %}
                                    {% set totalToPay = 0 %}
                                    {% set totalPaid = 0  %}
                                    {% set totalInterest = 0  %}
                                    {% set totalAmount = 0  %}
                                    {% for item in arr %}
                                        {% set counter =  counter + 1 %}

                                        {% if item.lpa_paid_capital or item.lpa_total_amount_paid %}
                                            {% set readonly = "readonly='readonly'" %}
                                            {% set done = "done" %} 
                                        {% else %}
                                            {% set readonly = "" %}
                                            {% set done = "" %}
                                        {% endif %}
                                        <tr id="tr_{{ counter }}" class="{{done}}">
                                            {# <td>{{ counter }}</td> #}
                                            <td>{{ counter }}</td>
                                            <td>
                                                {% if counter > 1 %}
                                                    {{ item.lpa_max_payment_date|date_modify("-"~ (loan.loaRecurringDayPayment - 1 ) ~" day")|date("Y-m-d") }}
                                                {% else %}
                                                    N/A
                                                {% endif %}    
                                                -
                                                <span class="maxDate">{{ item.lpa_max_payment_date }}</span>
                                            </td>
                                            
                                            <td>{% if item.lpa_paid_date  %} {{  item.lpa_paid_date }} {% else %} {% trans %}general_msg_pending{% endtrans %} {% endif %}</td>
                                            <td>
                                                    
                                                   <span class="label label-default amounts"> ${{ item.lpa_total_amount_paid|number_format(2, '.', ',') }}</span>
                                                    {% set totalAmount =  totalAmount + item.lpa_total_amount_paid %}
                                            </td>
                                            <td>
                                                {% if item.lpa_total_amount_paid > 0 %}
                                                    {{ item.lpa_current_rate_interest }}
                                                {% else %}
                                                    

                                                    {# {{ item.lpa_current_rate_interest * item.lpa_multiplied_interest_by }} #}

                                                    {% set nextRate =  item.lpa_current_rate_interest * (item.lpa_multiplied_interest_by + 1) %} 
                                                    {{ nextRate }}
                                                {% endif %}
                                                %
                                            </td>
                                            <td><span class="label label-success amounts">
                                                {% set totalPaid = totalPaid + item.lpa_paid_capital %}
                                                ${{ item.lpa_paid_capital|number_format(2, '.', ',')  }}</span>
                                            </td>
                                            <td><span class="label label-success amounts">
                                                {% set totalInterest = totalInterest + item.lpa_paid_rate_interest %}
                                                ${{ item.lpa_paid_rate_interest|number_format(2, '.', ',')  }}</span>
                                            </td>
                                            <td>
                                                {% if item.lpa_total_amount_paid > 0 %}
                                                    {# <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> #}
                                                    {% trans %}loan_table_rate_payments_node{% endtrans %} 
                                                {% else %}
                                                    {% trans %}general_msg_pending{% endtrans %}
                                                {% endif %} 
                                            </td>
                                            <td></td>
                                        </tr>
                                       
                                    {% endfor %}
                                    <tfood>
                                        <tr>
                                            <td colspan="3" class="text-center">Total</td>
                                            <td><span class="label label-default amounts">${{ totalAmount|number_format(2, '.', ',') }}</span></td>
                                            <td></td>
                                            <td><span class="label label-success amounts">${{ totalPaid|number_format(2, '.', ',') }}</span></td>
                                            <td><span class="label label-success amounts">${{ totalInterest|number_format(2, '.', ',') }}</span></td>
                                            <td></td>
                                        </tr>
                                    </tfood>
                                </tbody>
                        </table>

                        <div>

                                {% set pending =  srv_Loans.checkDeadLineToPay( loan.loaRateInterest, loan.loaRecurringDayPayment, loan.loaDeadline|date('Y-m-d'), srv_TimeZone.getNameTimeZone() ) %}
                                {% if pending %}
                                    {% set rate = pending.rate %}   

                                {% else %}
                                    {% set rate = loan.loaRateInterest %}     
                                {% endif %}

                                {% set paidAmount = srv_Loans.checkPaymentsPerLoan(loan.loaId) %}
                                {% if paidAmount %}
                                    {% set money = (loan.loaAmount - paidAmount[0]['paidCapital']) %}
                                {% else %}
                                    {% set money = loan.loaAmount %}
                                {% endif %}
                                
                                <hr>
                                <h3 class=""><span class="labelCurrency">{% trans %}loan_table_rate_payments_node_total{% endtrans %}:</span> <span id="total" class="label label-default">${{ totalAmount|number_format(2, '.', ',') }}</span></h3>
                                <h3 class=""><span class="labelCurrency">{% trans %}loan_msg_paid_capital{% endtrans %}:</span> <span id="total" class="label label-default">${{ totalPaid|number_format(2, '.', ',') }}</span></h3>
                                <h3 class=""><span class="labelCurrency">{% trans %}loan_msg_paid_interest{% endtrans %}:</span> <span id="total" class="label label-default">${{ (totalAmount - totalPaid)|number_format(2, '.', ',') }}</span></h3>
                                {% if showResume %}
                                <div>
                                    <h3 class=""><span class="labelCurrency">{% trans %}loan_msg_pending_to_pay{% endtrans %}: </span>
                                    <span class="amountsX">
                                        ( ${{ (money)|number_format(2, '.', ',') }} x {{rate}}%  ) + ${{ money|number_format(2, '.', ',') }} = 

                                        {% set pending = ((money) * (rate/100) + (money))|number_format(2, '.', ',') %}
                                        {% if pending > 0 %}
                                            {% set stalabel = "pending" %}
                                        {% else %}
                                            {% set stalabel = "nothingPending" %}
                                        {% endif %}
                                        <span class="label label-default {{stalabel}}">${{  pending }}</span>
                                        </span>
                                    </h3>    
                                </div>
                                
                                {% endif %}
                                <hr>
                        </div>
                    {% else %}
                        There are not payments done    
                    {% endif %}