
<style>
.amounts{
    font-size:14px;
    font-weight: 700;
    color: #34825F;
}

.titleCurrency{
    font-size: 18px !important;
}

.actionFreezed{
    color: #96271b;
    font-weight: 700;
}

.actionPaid{
    color: #366d54;
    font-weight: 700;
}

#total, #totalPaid, #pending{
    color: green;
}
.pending{
    background: #EC971F;
    color: #fff !important;
}
.nothingPending{
    background:#00A65A;
    color: #fff !important;
}

.labelCurrency{
    display:inline-block;
    width: 150px;
    font-size: 16px;
}
.loanCompleted{
    color: #00A65A;
    font-size:20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.loanIncompleted{
    color: #D73925;
    font-size:20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.widthAuto {
   width: auto !important;
}

.markerToday{
    background: #bcf4db !important;   
}

.updateItemDone{
    cursor: pointer;
}
</style>
                        
                        {% set today = "now"|date("Y-m-d", srv_TimeZone.getNameTimeZone()) %}
                        {% set initDate = "" %}
                        {% set endDate = "" %}
                        
                        <input type='hidden' value="{{ loan.loaRecurringDayPayment }}" id='curringDaySelected'>
                        {% set firstPaymentDate = "" %}
                        <table class="table table-striped display nowrap" id="tablePayments"  style="width:100%">
                                <thead>
                                    <tr>
                                        {# <th>#</th> #}
                                        {% if  action is defined and (action != "edit" ) %}
                                            <th></th>
                                        {% endif %}
                                        <th>{% trans %}loan_table_payments_payment_date{% endtrans %}</th>
                                        <th>{% trans %}loan_table_payments_quota_to_pay{% endtrans %}</th>
                                        <th>{% trans %}loan_table_payments_action{% endtrans %}</th>
                                        <th>{% trans %}loan_table_payments_paid_amount{% endtrans %}</th>

                                        {% if  action is defined and (action == "history" ) %}
                                            <th>{% trans %}loan_table_payments_paid_capital{% endtrans %}</th>
                                            <th>{% trans %}loan_table_payments_paid_interest{% endtrans %}</th>
                                        {% endif %}

                                        <th>{% trans %}loan_table_payments_paid_date{% endtrans %}</th>
                                        <th>{% trans %}loan_table_payments_paid_note{% endtrans %}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set counter = 0 %}
                                    {% set totalToPay = 0 %}
                                    {% set totalPaid = 0  %}
                                    {% set totalPaidCapital = 0 %}
                                    {% set totalPaidInterest = 0 %}
                                    {% for item in arr %}
                                        {% set counter =  counter + 1 %}

                                        {% if item.lpa_paid_capital or item.lpa_paid_rate_interest %}
                                            {% set readonly = "readonly='readonly'" %}
                                            {% set done = "done" %} 
                                        {% else %}
                                            {% set readonly = "" %}
                                            {% set done = "" %}
                                        {% endif %}

                                                {% if counter > 1 %}
                                                    
                                                        {% set initDate =  item.lpa_max_payment_date|date_modify("-"~ (loan.loaRecurringDayPayment - 1 ) ~" day")|date("Y-m-d") %}
                                                        
                                                {% else %}
                                                    {% set initDate = "N/A" %}
                                                {% endif %}    
                                                
                                                {% set max_date = item.lpa_max_payment_date %}
                                                

                                                {% if counter == 1 %}
                                                    {% set firstPaymentDate = max_date %}
                                                {% endif %}


                                                {% if (today) >= initDate and today <= max_date %}
                                                    {% set markerToday = "markerToday" %}
                                                {% else %}
                                                    {% set markerToday = "" %}
                                                {% endif %}
                                        <tr id="tr_{{ counter }}" class="{{done}} {{ item.lpt_key }} {{ markerToday }}" data-paymentid="{{ item.lpa_id }}" data-paymenttypeid="{{ item.lpt_id }}">
                                            {# <td>{{ counter }}</td> #}
                                            {% if  action is defined and (action != "edit" ) %}
                                                <td> {{ counter }}</td>
                                            {% endif %}
                                            <td>
                                                {% if initDate and (initDate) != "N/A" %} 
                                                    <span class='initDate'>{{ initDate }}</span>
                                                {% else %}
                                                    {{ initDate }}
                                                {% endif %}    
                                                - <span class="maxDate">{{ max_date }}</span>
                                            </td>
                                            <td data-amount="{{ item.lpa_current_amount }}">
                                                {% if  action is defined and (action == "edit" ) %}
                                                    <div class="input-group">
                                                        
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                                        </span>
                                                        
                                                        <input type="number" class="form-control inputDatePayment" id="input{{ counter }}" value="{{ item.lpa_current_amount }}" {{readonly}}>
                                                        {% if  action is defined and ( action == "edit" ) and done %}
                                                            {#
                                                            <span class="input-group-btn holderEdit">
                                                                <button class="btn btn-primary btnSetEditAmount" type="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                            </span>
                                                            #}
                                                        {% endif %}
                                                    </div>
                                                {% else %}
                                                   <span class="amounts">${{ item.lpa_current_amount|number_format(2, '.', ',') }}</span>
                                                {% endif %}
                                                {% set totalToPay = totalToPay + item.lpa_current_amount %}
                                            </td>
                                            <td data-status="{{item.lpt_id}}">
                                                {% if item.lpt_id == ""  %}
                                                    {% if  action is defined and (action == "payment" ) %}
                                                        {% if paymentType is defined %}
                                                            <select class="form-control optPaymentStatus">
                                                            {% for status in paymentType %}
                                                                <option value="{{ status.lptId }}" data-type="{{ status.lptKey }}">{{ status.lptName }}</option>
                                                            {% endfor %}
                                                            </select>
                                                        {% endif %}
                                                    {% else %}
                                                        {% trans %}general_msg_pending{% endtrans %}     
                                                    {% endif %}
                                                {% else %}
                                                     {% if item.lpt_key == "freezed" %}
                                                                <span class="actionFreezed"><i class="fa fa-clock-o" aria-hidden="true"> </i>  {% trans %}general_msg_freezed{% endtrans %}</span>
                                                            {% else %}
                                                                <span class="actionPaid"><i class="fa fa-check-circle" aria-hidden="true"> </i> {% trans %}general_msg_paid{% endtrans %}</span>
                                                            {% endif %}
                                                {% endif %}
                                            </td>
                                            <td data-paid="{{ item.lpa_total_amount_paid }}">
                                                {% if item.lpa_paid_capital or item.lpa_paid_rate_interest %}
                                                    <span class="amounts">${{ item.lpa_total_amount_paid|number_format(2, '.', ',') }}</span> 
                                                    {% set totalPaid = totalPaid + item.lpa_total_amount_paid %}
                                                {% else %}
                                                    {% if  action is defined and (action == "payment" ) %}
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                                        </span>
                                                        {% if item.lpt_key == "freezed" %}
                                                            <input type="text" class="form-control inputAmount" disabled="disabled">
                                                        {% else %}
                                                            <input type="text" class="form-control inputAmount">
                                                        {% endif %}
                                                        
                                                    </div>   
                                                    
                                                    {% else %} 
                                                        {% trans %}general_msg_pending{% endtrans %} 
                                                    {% endif %} 
                                                {% endif %} 
                                            </td>

                                            {% if  action is defined and (action == "history" ) %}
                                                {% if item.lpa_total_amount_paid  %}
                                                <td><span class="amounts">${{ item.lpa_paid_capital|number_format(2, '.', ',') }}</span></td>
                                                <td><span class="amounts">${{ item.lpa_paid_rate_interest|number_format(2, '.', ',') }}</span></td>
                                                    {% set totalPaidCapital = totalPaidCapital + item.lpa_paid_capital %}
                                                    {% set totalPaidInterest = totalPaidInterest + item.lpa_paid_rate_interest %}
                                                {% else %}
                                                    <td>{% trans %}general_msg_pending{% endtrans %} </td>
                                                    <td>{% trans %}general_msg_pending{% endtrans %} </td>
                                                {% endif %}
                                            {% endif %}

                                            <td data-paidDate="{{item.lpa_paid_date}}">
                                                {% if item.lpa_paid_date  %} 
                                                    {{  item.lpa_paid_date }}
                                                {% else %} 
                                                    {% if action is defined and action == "payment" %}
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </span>
                                                        <input type="text" class="form-control datepicker" disabled="disabled">
                                                    </div>    
                                                    {% else %}
                                                        {% trans %}general_msg_pending{% endtrans %} 
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if  action is defined and action == "payment" %}
                                                    {% if item.lpa_paid_date  %} 
                                                        
                                                        {% if item.lpa_note %}{{ item.lpa_note }}{% else %}N/A{% endif %}
                                                    {% else %}
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                                                            </span>
                                                            <input type="text" class="form-control note" disabled="disabled">
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    {{ item.lpa_note }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if item.lpa_paid_capital > 0 or item.lpa_paid_rate_interest > 0 %}
                                                    <span class="updateItemDone"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                                                {% else %}
                                                    {% if loan.loaCompleted == 0 %}
                                                        {% if  action is defined and action == "edit" %}
                                                            <span class="btn btn-danger deleteItem"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                                        {% elseif  action is defined and action == "payment" %}
                                                            {% if item.lpt_key == "freezed" %}
                                                                <button class="btn btn-default btnUnfreeze"  value="{{ item.lpa_id }}"><i class="fa fa-clock-o" aria-hidden="true"></i> {% trans %}general_btn_unfreeze{% endtrans %} </button>
                                                            {% else %}
                                                                <button class="btn btn-success btnPaymentItem" disabled="disabled" value="{{ item.lpa_id }}"><i class="fa fa-check-square-o" aria-hidden="true"></i> {% trans %}general_btn_create{% endtrans %} </button>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                    
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                        <input type="hidden" value="{{ firstPaymentDate }}" id="inputfistPaymentDate">
                        {% if  action is defined and ( action == "edit" ) and (loan.loaCompleted == 0 ) %}
                            <hr>
                            <div class="text-right">
                                <button id="addInput" class="btn btn-default"><i class="fa fa-plus-circle" aria-hidden="true"></i> {% trans %}loan_btn_add_item{% endtrans %}</button>
                            </div>
                        {% endif %}
                        <div>
                            <h3 class=""><span class="labelCurrency">
                            {% trans %}loan_msg_total_to_pay{% endtrans %}:</span> <span id="total" class="label label-default">${{ totalToPay|number_format(2, '.', ',') }}</span></h3>
                            
                            {% if  action is defined and (action == "history" ) %}
                                <hr>
                                <h3 class=""><span class="labelCurrency"> {% trans %}loan_msg_paid_capital{% endtrans %}:</span> <span id="total" class="label label-default">${{ totalPaidCapital|number_format(2, '.', ',') }}</span></h3>
                                <h3 class=""><span class="labelCurrency">{% trans %}loan_msg_paid_interest{% endtrans %}:</span> <span id="total" class="label label-default">${{ totalPaidInterest|number_format(2, '.', ',') }}</span></h3>
                                <hr>
                            {% endif %}
                            <h3 class=""><span class="labelCurrency">{% trans %}loan_msg_total_paid{% endtrans %}:</span> <span id="totalPaid" class="label label-default">${{ totalPaid|number_format(2, '.', ',') }}</span></h3>
                            <h3 class="">
                                <span class="labelCurrency"> {% trans %}loan_msg_pending_to_pay{% endtrans %}:</span> 
                                {% if (totalToPay - totalPaid) > 0 %}
                                    {% set stalabel = "pending" %}
                                {% else %}
                                    {% set stalabel = "nothingPending" %}
                                {% endif %}
                                <span id="pending" class="label label-default {{stalabel}}">${{ (totalToPay - totalPaid)|number_format(2, '.', ',') }}</span>
                            </h3>
                            <hr>
                        </div>


                        <!-- Modal -->
                        <div class="modal fade" id="myModalUpdatePaid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Actualizacion de cuota ya pagada</h4>
                                </div>
                                <div class="modal-body">
                                
                                        <input type="text" value="" id="updateId">
                                        <div class="form-group">
                                            <div>{% trans %}loan_table_payments_quota_to_pay{% endtrans %}</div>
                                            <div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="number" class="form-control" id="updateQuota" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>{% trans %}loan_table_payments_action{% endtrans %}</div>
                                            <div>
                                                <select class="form-control" id="updateAction">
                                                    <option value="1">{% trans %}general_msg_paid{% endtrans %}</option>
                                                    {# <option value="2">{% trans %}general_msg_freezed{% endtrans %}</option> #}
                                                    <option value="0">{% trans %}general_msg_pending{% endtrans %}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>{% trans %}loan_table_payments_paid_amount{% endtrans %}</div>
                                            <div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="number" class="form-control" id="updatePaid" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>{% trans %}loan_table_payments_paid_date{% endtrans %}</div>
                                            <div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control datepicker" id="updatePaidDate" value="">
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                                </div>
                            </div>
                        </div>