{% extends 'app/base.html.twig' %}

{% block title_page %}
    {% trans %}loan_edit_title{% endtrans %} - {% trans %}app_name{% endtrans %}
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %}

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %}


{#
{% block header %}
        <h1>Clients list</h1><hr>
{% endblock %}
#}

{% block content %}

<style>
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.marginBT{
    margin-bottom:10px; 
}


.widthAuto {
   width: auto !important;
}
.labelInfo{
    display: inline-block;
    width:75px;
}

.loanIncompleted {
    color:red;
    font-size:20px;
    font-weight: 700;
}
.loanCompleted {
    color:green;
    font-size:20px;
    font-weight: 700;
}
</style>

{#  Check the notifications #}
{% set created = 0 %}
{% for message in app.session.flashbag().get("success") %}
    <div class="alert alert-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{message}}</div>
{% endfor %}
{% for message in app.session.flashbag().get("error") %}
    <div class="alert alert-danger"><i class="fa fa-times" aria-hidden="true"></i> {{message}} </div>
{% endfor %}
{# End notifications #}

<section class="content-header">
      <h1>
        {% trans %}loan_edit_title{% endtrans %}
        <small>
            
        </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('dashboard_index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{{ path('loan_index') }}">{% trans %}menu_left_loans{% endtrans %}</a></li>
        <li><a href="{{ path('loanpayment_quotasHistory') }}?loaId={{loan.loaId}}">{% trans %}menu_left_history{% endtrans %}</a></li>
        {# <li class="active">Edit</li> #}
      </ol>
</section>
<hr>



<div class="box">
    
    <div class="box-header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12"> 
                <div class="box-titlex text-center">
                    {% if loan.loaCompleted == 1 %}
                    <span class="loanCompleted">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> 
                        {% trans %}general_msg_status_loan_finished{% endtrans %}
                    </span>
                    {% elseif loan.loaCompleted == 2 %}
                        <span class="loanIncompleted"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {% trans %}general_msg_status_loan_freezed{% endtrans %}</span>
                    {% else %}
                        <span class="loanIncompleted"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {% trans %}general_msg_status_loan_no_finished{% endtrans %}</span>    
                    {% endif %}
                </div>
            </div>
        </div>
            
    </div>
     
     

    <div class="box-body">
        <div class="well ">
            <div class="row">
                <div class="col-lg-4">
                    <span class="labelInfo"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {% trans %}loan_edit_client{% endtrans %}:</span>
                    <a href="{{ loan.cli.cliId }}" class="btnShowClient">
                        {{ loan.cli.cliFirstName ~" "~ loan.cli.cliMiddleName ~" "~ loan.cli.cliFirstSurname ~" "~ loan.cli.cliSecondSurname }}
                    </a>
                </div>
                <div class="col-lg-4">
                    <span class="labelInfo"><i class="fa fa-barcode" aria-hidden="true"></i> {% trans %}loan_edit_code{% endtrans %}:</span> <a href="{{ path('loan_show', { 'loaId': loan.loaId }) }}">{{ loan.loaCode }}</a>
                </div>
                <div class="col-lg-4">
                    {% set loanId = app.request.get('loaId') %}
                    {% set hasPayments = srv_Loans.getCountLoanPaymentsDone(loanId) %}
                    {#
                    This loan has <span class="badge">{{ hasPayments }}</span> payment(s) done,
                    
                    Files attached 
                    #}
                    {% set hasFiles = srv_Loans.getFilesPerLoan(loanId) %}
                    {{ ('loan_edit_msg_count_files'|trans({ '%payments%': hasPayments}))|raw }}
                    <a href="{{ path('gallery_index') }}?loanId={{loan.loaId}}"><span class="badge">{{ hasFiles|length }}</span></a>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                
                <div class="well">
                    
                    {# {{ dump(client) }} #}
                    
                                {{form_start(edit_form,{'enctype':'multipart/form-date'})}}
                                {# <div class="">{{ form_widget(edit_form.loaClient,  { 'attr': {'class': 'form-control',"value":client.cliId } } ) }}</div> #}
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="form_error">{{ form_errors(edit_form.loaLoanMade) }}</div>
                                            <label for="" class=" control-label">{% trans %}loan_form_loan_created_at{% endtrans %}: <span class="text-danger">*</span></label>

                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </div>
                                                <div class="">{{ form_widget(edit_form.loaLoanMade,  { 'attr': {'class': 'form-control datepicker', 'placeholder':app.user.usrDateFormat, "autocomplete":"off", 'value' : loan.loaLoanMade|date(app.user.usrDateFormat)  } } ) }}</div>
                                            </div>
                                            <span id="helpBlock2" class="help-block">{% trans %}loan_form_loan_created_at_help{% endtrans %}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <div class="form_error">{{ form_errors(edit_form.loaAmount)}}</div>
                                            <label for="" class=" control-label">{% trans %}loan_form_requested_amount{% endtrans %}: <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-usd" aria-hidden="true"></i>
                                                </div>
                                                <div class="">{{ form_widget(edit_form.loaAmount,  { 'attr': {'class': 'form-control pull-right',"autocomplete":"off"}} ) }}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-6 col-sm-12">
                                        <div class="form-group" id="holderRate">
                                            <div class="form_error">{{ form_errors(edit_form.loaRateInterestByDefault)}}</div>
                                            <label for="" class=" control-label">{% trans %}loan_form_default_interest_rate{% endtrans %}: <span class="text-danger">*</span></label>

                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-percent" aria-hidden="true"></i>
                                                </div>
                                                <div class="">{{ form_widget(edit_form.loaRateInterestByDefault,  { 'attr': {'class': 'form-control'}} ) }}</div>
                                                {# <div class="">{{ form_widget(edit_form.loaRateInterestByDefault,  { 'attr': {'class': 'form-control'},type:"number" } ) }}</div> #}
                                            </div>
                                        </div>
                                    </div>
                                    {% if loan.loc.locKey  != "inactive_rate" %}
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <span id="helpBlock2" class="help-block">{% trans %}loan_form_general_help{% endtrans %}</span>
                                        </div>
                                    {% endif %}    
                                </div>   
                                 {% if loan.loc.locKey  != "inactive_rate" %}    
                                        
                                            <div class="row">
                                                <div class="col-lg-12">
                                                     {% set additionalAmounts = srv_Loans.getAdditionalAmounts(loanId) %}
                                                     {% if additionalAmounts|length > 0 %}
                                                        
                                                        <div class="box box-primary">
                                                            <div class="box-header with-border">
                                                                <h5 class="box-titleX" style="margin-bottom: 5px; margin-top: 5px;">Montos adicionales creados</h5>
                                                                <div class="box-tools pull-right">
                                                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="box-body" style=""> 
                                                                <table id="tableAdditionalAmouns" class="table table-striped display nowrap" style="width:100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Cantidad($)</th>
                                                                            <th>Interes por defecto(%)</th>
                                                                            <th>Interes actual(%)</th>
                                                                            <th>Fecha solicitado</th>
                                                                            <th>Comentario</th>
                                                                        </tr>
                                                                    </thead>
                                                                     <tbody>
                                                                        {% set tr = 0 %}   
                                                                        {% for aa in additionalAmounts %}
                                                                            {% set tr = tr + 1 %}
                                                                            <tr>
                                                                                <td>{{ tr }}</td>
                                                                                <td>${{ aa.laa_amount }}</td>
                                                                                <td>{{ aa.laa_rate_interest_by_default }}%</td>
                                                                                <td>
                                                                                    {% if aa.laa_splitted_balance %}
                                                                                        {% set loan = srv_Loans.getLoanById(loanId) %}
                                                                                        {{ loan.loaQuotas }}
                                                                                        {% set pending =  srv_Loans.checkDeadLineToPay( aa.laa_rate_interest, loan.loaRecurringDayPayment, aa.laa_next_payment_date, srv_TimeZone.getNameTimeZone() ) %}

                                                                                        {% if pending|length %}
                                                                                            {{ pending.rate }}
                                                                                        {% else %}
                                                                                            {{ aa.laa_rate_interest }} x
                                                                                        {% endif %}
                                                                                    {% else %}
                                                                                        {{ aa.laa_rate_interest }} z
                                                                                    {% endif %}
                                                                                    %
                                                                                </td>
                                                                                <td>{{ aa.laa_delivered_date|date(app.user.usrDateFormat) }}</td>
                                                                                <td>{{ aa.laa_comment }}</td> 
                                                                            </tr> 
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div> 
                                                           
                                                     {% endif %}
                                                    {% if loan.loaCompleted == 0 %}
                                                        <div class="text-right"><button type="button" class="btn bg-purple btn-xs" id="btnAddAmounts" style="margin-bottom: 10px;"><i class="fa fa-fw fa-plus-circle"></i> Adicionar monto</button></div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                         
                                    {% endif %}
                                

                                <div class="row">
                                    <div class="col-md-12 col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <div class="form_error">{{ form_errors(edit_form.loaRecurringDayPayment)}}</div>
                                            <label for="" class=" control-label">{% trans %}loan_form_recurring_day_payment{% endtrans %}: <span class="text-danger">*</span></label>

                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                                </div>
                                                <div class="">{{ form_widget(edit_form.loaRecurringDayPayment,  { 'attr': {'class': 'form-control', 'placeholder':'Number Days'} } ) }}</div>
                                            </div>
                                            <span id="helpBlock2" class="help-block">{% trans %}loan_form_recurring_day_payment_help{% endtrans %} </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <div class="form_error">{{ form_errors(edit_form.loaDeadline)}}</div>
                                            <label for="" class=" control-label">
                                                 
                                                {% if hasPayments == 0 %} 
                                                    {% trans %}loan_form_msg_first_payment_date{% endtrans %}:
                                                {% else %} 
                                                    {% if loan.loc.locKey  == "inactive_rate" %}
                                                        {% trans %}loan_form_msg_last_payment_date{% endtrans %}:
                                                    {% else %}
                                                        {% trans %}loan_form_msg_next_payment_date{% endtrans %}:
                                                    {% endif %}
                                                     
                                                {% endif %}
                                                <span class="text-danger">*</span>
                                            </label>

                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </div>
                                                
                                                <div class="">
                                                    {% if loan.loc.locKey  == "inactive_rate" %}
                                                        {% if hasPayments == 0 %}
                                                            {{ form_widget(edit_form.loaDeadline,  { 'attr': {'class': 'form-control datepicker', 'placeholder':app.user.usrDateFormat, "autocomplete":"off", 'value' : loan.loaDeadline|date(app.user.usrDateFormat) } } ) }}
                                                        {% else %}
                                                            
                                                            {% set lastPayment = srv_Loans.getLastPayment(loanId) %}
                                                            {% if lastPayment and lastPayment[0]['lpa_paid_date'] != "" %}
                                                                {{ form_widget(edit_form.loaDeadline,  { 'attr': {'class': 'form-control ', 'placeholder':app.user.usrDateFormat, "autocomplete":"off", "readonly":"readonly", "value": (lastPayment[0]['lpa_paid_date'])|date(app.user.usrDateFormat) } } ) }}
                                                            {% else %}
                                                                {{ form_widget(edit_form.loaDeadline,  { 'attr': {'class': 'form-control ', 'placeholder':app.user.usrDateFormat, "autocomplete":"off", "readonly":"readonly"} } ) }}
                                                            {% endif %}
                                                            {# {{ form_widget(edit_form.loaDeadline,  { 'attr': {'class': 'form-control ', 'placeholder':'YYYY-MM-DD', "autocomplete":"off", "readonly":"readonly"} } ) }} #}
                                                        {% endif %}
                                                    {% else %}
                                                        
                                                        {{ form_widget(edit_form.loaDeadline , { 'attr': {'class': 'form-control datepicker', 'placeholder':app.user.usrDateFormat, "autocomplete":"off", 'value' : loan.loaDeadline|date(app.user.usrDateFormat) } } ) }}
                                                    {% endif %}
                                                    
                                                </div>
                                            </div>
                                            <span id="helpBlock2" class="help-block">{% trans %}loan_form_first_payment_date_help{% endtrans %}</span>

                                            {# {{ loan.loaDeadline|date(app.user.usrDateFormat) }} #}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                <div class="col-md-12 col-lg-12 col-sm-12" id="holderQuotas">
                                    <div class="form-group">
                                        <div class="form_error">{{ form_errors(edit_form.loaQuotas)}}</div>
                                        {# {% if hasPayments == 0 %} #}
                                            <label for="" class=" control-label"># {% trans %}loan_form_quotas{% endtrans %}: <span class="text-danger">*</span></label>
                                            
                                            <div class="input-group">                                            
                                                {{ form_widget(edit_form.loaQuotas,  { 'attr': {'class': 'form-control', 'placeholder':''},required: true } ) }}
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" id="setPatments">{% trans %}loan_form_btn_set_payments{% endtrans %}</button>
                                                </span>                    
                                            </div>
                                            <span id="helpBlock2" class="help-block">{% trans %}loan_form_quotas_help{% endtrans %}</span>
                                        {#
                                            {% else %}    
                                                <label for="" class=" control-label"># Quotas: <span class="badge">{{ loan.loaQuotas }}</span></label>
                                            {% endif %}
                                        #}
                                       
                                    </div>
                                
                                </div>

                                
                                {#
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="form_error">{{ form_errors(form.loaDeadline)}}</div>
                                            <label for="" class=" control-label">Dead Line: <span class="text-danger">*</span></label>

                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </div>
                                                <div class="">{{ form_widget(form.loaDeadline,  { 'attr': {'class': 'form-control datepicker', 'placeholder':'YYYY-MM-DD'} } ) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                #}
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="form_error">{{ form_errors(edit_form.loaDescription)}}</div>
                                        <label for="" class=" control-label">{% trans %}loan_form_description{% endtrans %}:</label>
                                        <div class="">{{ form_widget(edit_form.loaDescription,  { 'attr': {'class': 'form-control', 'placeholder':'', "maxlength":"150"} } ) }}</div>
                                        <span id="helpBlock2" class="help-block">{% trans %}loan_form_description_help{% endtrans %}</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="form_error">{{ form_errors(edit_form.loaCompleted)}}</div>
                                        <label for="appbundle_loan_loaCompleted" class=" control-label">{% trans %}loan_form_status{% endtrans %}: &nbsp; </label>
                                        {{ form_widget(edit_form.loaCompleted,  { 'attr': {'class': 'form-controlx'} } ) }}
                                        {# <span id="helpBlock2" class="help-block">If the checkbox is checked that means the loan is completed and paid.</span> #}
                                    </div>
                                </div>
                                <div class="">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                        <ul class="list-inline">
                                            {{ form_start(edit_form) }}
                                                {{ form_widget(edit_form) }}
                                                <li><button type="submit" class="btn bg-navy marginBT"><i class="fa fa-check-circle" aria-hidden="true"></i> {% trans %}general_btn_save{% endtrans %}</button></li>
                                                
                                            {{ form_end(edit_form) }}
                                            
                                            <li>
                                                <a class="btn btn-info marginBT" href="{{ path('loan_index') }}"><i class="fa fa-list" aria-hidden="true"></i> {% trans %}loan_btn_loans_list{% endtrans %} </a>
                                            </li>
                                            {% if loan.loaCompleted == 0 %}
                                            <li>
                                                {{ form_start(delete_form,{'attr':{"id":'formDelete'}} )  }}
                                                    <button type="submit" class="btn btn-danger marginBT" ><i class="fa fa-trash" aria-hidden="true"></i> {% trans %}general_btn_delete{% endtrans %}</button>
                                                {{ form_end(delete_form) }}
                                            </li>

                                             <li><a href="{{ path('loanpayment_new',{'loaId':loan.loaId} ) }}" id="" class="btn bg-olive marginBT "><i class="fa fa-money" aria-hidden="true"></i> {% trans %}loan_btn_payment{% endtrans %}</a></li>
                                            {% endif %}
                                        </ul>
                                        </div>    
                                    </div>
                                </div>    
                            {{form_end(edit_form)}}

                            </div>

                    {#
                    {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <input type="submit" value="Edit" />
                    {{ form_end(edit_form) }}

                    #}
                    <hr>
                    <a href="{{ path('gallery_index') }}?loanId={{loan.loaId}}"><i class="fa fa-upload" aria-hidden="true"></i> {% trans %}loan_btn_attach_file{% endtrans %}</a>
                    <hr>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">

                {% if loan.loc.locKey == "active_rate" %}
                    {{ include('app/loan/_checkPendingQuotas.html.twig', {"rate":loan.loaRateInterest, "quotas":loan.loaRecurringDayPayment, "deadline":loan.loaNextPaymentDate|date('Y-m-d')}  )  }}
                {% endif %}
                
                        {% set arr =  srv_Loans.getAllDetailLoan(loanId) %}
                        {% if loan.loc.locKey  == "inactive_rate" %}
                            <h4>
                                <span class="">{% trans %}loan_edit_subtitle_payments{% endtrans %}</span> - 
                                <small>{% trans %}loan_edit_comment_item{% endtrans %}</small>
                            </h4>
                            <hr>
                            <div class="text-right">
                                    {# Click <a href="{{ path('loanpayment_quotasHistory') }}?loaId={{loan.loaId}}">here</a> to see the complete history #}

                                {% set linkHere = path('loanpayment_quotasHistory')~'?loaId='~loan.loaId %}
                                
                                {{ ('loan_msg_payments_click_here'|trans({ '%link%': linkHere}))|raw }}
                            </div>
                                
                            <hr>
                            <div id="holderMainRight">
                                {{ include("app/loan/_inputNoRateEditPayments.html.twig",{"action":"edit"}) }}
                            </div>
                        {% else %}
                            <div id="holderMainRight">
                                {% set changedAmount = srv_Loans.checkChangeAmountPerLoan(loan.loaId) %} 
                                {% if changedAmount > 0 %}
                                    <div>
                                        <div>Este prestamo tiene actualizaciones en el monto inicial. <a class="" href="{{ path('loanpayment_quotasHistory') }}?loaId={{loan.loaId}}">{% trans %}loan_table_rate_payments_full_history{% endtrans %}</a></div>
                                        {% set arrPendingAmount = srv_Loans.getPendingAmount(loan.loaId, true) %}
                                        {# {{ dump(arrPendingAmount[0]["pending"]) }} #}
                                        <h3 class=""><span class="labelCurrency">{% trans %}loan_msg_pending_to_pay{% endtrans %}: </span>
                                        {% if loan.loaCompleted != 1 %}
                                            <span class="amountsX">
                                            {% set rate = loan.loaRateInterest %}
                                            {% set money =  arrPendingAmount[0]["pending"] %}
                                            ( ${{ (money)|number_format(2, '.', ',') }} x {{rate}}%  ) + ${{ money|number_format(2, '.', ',') }} = 

                                            {% set pending = ((money) * (rate/100) + (money))|number_format(2, '.', ',') %}
                                            {% if pending > 0 %}
                                                {% set stalabel = "pending" %}
                                            {% else %}
                                                {% set stalabel = "nothingPending" %}
                                            {% endif %}
                                            <span class="label label-default {{stalabel}}">${{  pending }}</span>
                                            </span>
                                        {% else %}
                                              <span class="label label-default nothingPending">$0.00</span>      
                                        {% endif %}
                                        </h3> 
                                    </div>
                                {% else %}
                                    {{ include("app/loan/_inputWithRatePayments.html.twig",{"showResume":true}) }}
                                {% endif  %}
                               
                            </div>
                        {% endif %}    
            </div>
        </div>        
    </div>
 </div>  



{{ include('app/client/_modals.html.twig' )  }}  


{% endblock %}

{% block codejs %}
    <script>
        //$(document).on("ready", function(){
        $(function (){

            {% if loan.loaCompleted == 1 %}
                $("form[name='appbundle_loan'] input[type='text'], form[name='appbundle_loan'] input[type='number'], form[name='appbundle_loan'] textarea").attr("readonly", true);
                $("#appbundle_loan_loaDeadline").removeClass("datepicker").val("");
                $("#appbundle_loan_loaLoanMade").removeClass("datepicker");
            {% endif %}
            
            $("#appbundle_loan_loaRateInterest").closest("div").remove();    

            $('#clientslist').DataTable({
                "scrollX": true,
                //'paging'      : true,
                //'lengthChange': false,
                //'searching'   : false,
                //'ordering'    : true,
                //'info'        : true,
                //'autoWidth'   : false,
                //'dom': 'Bfrtip',
                'dom': 'Blfrtip',
                'buttons': [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
            });
           //Date picker
            /*
                $('.datepicker').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    locale: {
                        format: 'YYYY-MM-DD'
                    },
                    //minYear: 1901,
                    //maxYear: parseInt(moment().format('YYYY'),10)
                }, function(start, end, label) {
                    //var years = moment().diff(start, 'years');
                    //alert("You are " + years + " years old!");
                });
            */
            var dateFormat = "{{app.user.usrDateFormat}}";
            if( dateFormat == "m/d/Y")
            {
                dateFormat = "MM-DD-YYYY";
            }else{
                dateFormat = "YYYY-MM-DD";
            }
            {% if app.request.getLocale() == "en" %}
                var locale_daterangepicker = {
                    "direction": "ltr",
                    //"format": "YYYY-MM-DD",
                    "format": dateFormat,
                    "separator": " - ",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom Range",
                    "daysOfWeek": [
                        "Su",
                        "Mo",
                        "Tu",
                        "We",
                        "Th",
                        "Fr",
                        "Sa"
                    ],
                    "monthNames": [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"
                    ],
                    "firstDay": 1
                };
                $('.datepicker').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,,
                    locale: 
                    // format: 'YYYY/MM/DD'
                    locale_daterangepicker
                    
                });

                var all = "All";
            {% else %}
                var locale_daterangepicker = {
                    "direction": "ltr",
                    //"format": "YYYY-MM-DD",
                    "format": dateFormat,
                    //"format": "{{ app.user.usrDateFormat }}",
                    "separator": " - ",
                    "applyLabel": "Aplicar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "DE",
                    "toLabel": "HASTA",
                    "customRangeLabel": "Rango personalizado",
                    "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sáb"
                    ],
                    "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                };
                $('.datepicker').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    locale: 
                    // format: 'YYYY/MM/DD'
                    locale_daterangepicker
                    
                });

                var all = "Todo";
            {% endif %}

            

            //$("#appbundle_loan_loaDeadline").val("");

            
            {% if loan.loc.locKey  != "inactive_rate" %}
                $("#holderQuotas").remove();
            {% else %}

                $("body").on("click",".btnSetEditAmount", function(){
                    var btn = $(this).find("i").removeClass().addClass("fa fa-window-close");
                    $(this).removeClass().addClass("btn btn-danger btnRemoveEditAmount");
                    var tr = $(this).closest("tr");
                    var td = $(this).closest("td");
                    tr.removeClass("done");
                    td.find("input[type='number']").attr("readonly", false);
                    td.find("input[type='number']").focus();
                });

                $("body").on("click",".btnRemoveEditAmount", function(){
                    var btn = $(this).find("i").removeClass().addClass("fa fa-pencil-square-o");
                    $(this).removeClass().addClass("btn btn-primary btnSetEditAmount");
                    var tr = $(this).closest("tr");
                    var td = $(this).closest("td");
                    tr.addClass("done");
                    td.find("input[type='number']").attr("readonly", true);
                });

                ///var quotas =
                //$("#appbundle_loan_loaCompleted").closest("div").remove();
                $("#holderRate").html("<h5>{% trans %}loan_form_default_interest_rate_disabled{% endtrans %}</h5>");
                $("#setPatments").on("click",function(){
                    var recurringDays = $("#appbundle_loan_loaRecurringDayPayment").val();
                    var nextDate = $("#appbundle_loan_loaDeadline").val();
                    var quotas = $("#appbundle_loan_loaQuotas").val();
                    if( $.trim(recurringDays) == "" || $.trim(nextDate) == "" || $.trim(quotas) == "" )
                    {
                        $.alert({
						    icon: 'glyphicon glyphicon-exclamation-sign',
							title: 'Error!',
							content: "{{ ('loan_msg_recurring_day_payment_empty'|trans())|raw }}",
							type: 'red',
							typeAnimated: true,
						});
                        return false;   
                    }

                    if( recurringDays <= 0 || quotas <= 0 )
                    {
                        $.alert({
						    icon: 'glyphicon glyphicon-exclamation-sign',
							title: 'Error!',
							content: "{{ ('loan_msg_recurring_day_payment_zero'|trans())|raw }}",
							type: 'red',
							typeAnimated: true,
						});
                        return false; 
                    }
                    //printAddInput()
                    //#tablePayments
                    var hasPayments = "{{ srv_Loans.getCountLoanPaymentsDone(app.request.get('loaId')) }}";
                    //Loan has already at least a payment
                    var currentTr = $("body").find("#tablePayments").find("tbody tr").length;
                    if( /*parseInt(hasPayments) > 0 || */ parseInt(currentTr) > 0 )
                    {
                        var addNew = ( quotas - currentTr );
                        //alert(addNew);
                        if(addNew > 0)
                        {
                            for(var i = 0; i < addNew; i++)
                            {
                                res = preventAddItem();
                                if ( res == 0 ){
                                    return false;
                                }
                                printAddInput();
                            }
                        }
                        else if(addNew < 0 )
                        {
                            for(var i = 0; i < Math.abs(addNew); i++)
                            {
                                //alert();
                                var rowCount = $('#tablePayments tbody tr').length;
                                if( rowCount > 0 )
                                {
                                    if( !$("body").find("#tablePayments tr:last" ).hasClass("done") )
                                    {
                                        $("body").find("#tablePayments tr:last" ).remove();
                                        $("#appbundle_loan_loaQuotas").val( $('#tablePayments tbody tr').length );
                                        sumPayment();
                                    }
                                    else
                                    {
                                        var msg = $("body").find("#tablePayments tr:last" ).find("td").eq(0).text();
                                        $.alert({
                                            icon: 'glyphicon glyphicon-exclamation-sign',
                                            title: 'Error!',
                                            content: "{{ ('loan_msg_error_remove_dates'|trans())|raw }}: <b>"+msg+"</b> ",
                                            type: 'red',
                                            typeAnimated: true,
						                });
                                        break;
                                    }
                                }
                               //$("body").find("#tablePayments tr:last" ).hasClass("done");
                            }
                            /*
                            $(this).closest("tr").remove();
                            var rowCount = $('#tablePayments tbody tr').length;
                            $("#appbundle_loan_loaQuotas").val(rowCount);
                            sumPayment();
                            */
                        }
                    }
                    else
                    {
                        //alert();
                        var dates = getPayments(quotas, nextDate, recurringDays);
                        if( dates.length > 0 )
                        {
                            printPayments(dates, recurringDays);
                        }
                    }
                    
                    
                })

                function getPayments(quotas, nextDate, recurringDays)
                {
                    var listDate = [];
                    for(var i = 0; i < quotas; i++)
                    {
                        totalDays = (i == 0 )?0:recurringDays;
                        nextDate = moment(nextDate, 'YYYY-MM-DD').add(totalDays, 'days').format('YYYY-MM-DD'); 
                        listDate.push(nextDate);
                    }

                    return listDate;
                }

                function printPayments(arrDates, recurringDays)
                {
                    //alert();
                    var table = "<input type='hidden' value='"+recurringDays+"' id='curringDaySelected'>";
                    table += "<table class='table table-striped' id='tablePayments'>";
                    table += "<thead><tr><th>{% trans %}loan_table_payments_payment_date{% endtrans %}</th>";
                    table += "<th>{% trans %}loan_table_payments_quota_to_pay{% endtrans %}</th>";
                    table += "<th>{% trans %}loan_table_payments_action{% endtrans %}</th>";
                    table += "<th>{% trans %}loan_table_payments_paid_amount{% endtrans %}</th>";
                    table += "<th>{% trans %}loan_table_payments_paid_date{% endtrans %}</th>";
                    table += "<th>{% trans %}loan_table_payments_paid_note{% endtrans %}</th>";
                    table += "<th></th></tr></thead><tbody>";
                    var trbody = "";
                    var firstPaymentDate = "";
                    for(var i = 0; i < arrDates.length; i++)
                    {
                        if( i != 0 )
                        {
                            var per = moment(arrDates[i], 'YYYY-MM-DD').add(-6, 'days').format('YYYY-MM-DD'); 
                            var button = "<span class='btn btn-danger deleteItem'><i class='fa fa-trash-o' aria-hidden='true'></i></span>";
                        }else{
                            var per = " N/A ";
                            var button = "<span class='btn btn-danger deleteItem'><i class='fa fa-trash-o' aria-hidden='true'></i></span>";//"";
                            firstPaymentDate = arrDates[i];
                        }

                        var input = "<div class='input-group'><span class='input-group-addon'><i class='fa fa-usd' aria-hidden='true'></i></span><input type='number' class='form-control inputDatePayment' id='input"+i+"'></div>";
                        trbody += "<tr id='tr_"+i+"'>";
                        trbody += "<td> <i class='fa fa-calendarxxxxx' aria-hidden='true'></i> <span class='initDate'>"+ per +"</span> - <span class='maxDate'>"+ arrDates[i] + "</span></td>"
                        trbody += "<td> "+input+"</td>"
                        trbody += "<td>{% trans %}general_msg_pending{% endtrans %} </td>";
                        trbody += "<td>{% trans %}general_msg_pending{% endtrans %} </td>";
                        trbody += "<td>{% trans %}general_msg_pending{% endtrans %} </td>";
                        trbody += "<td>N/A</td>"
                        trbody += "<td>"+button+"</td>";
                        trbody += "</tr>";
                    }
                    table += trbody;
                    table += "</tbody>";
                    table += "</table>";
                    table += "<input type='hidden' value='"+firstPaymentDate+"' id='inputfistPaymentDate'>";

                    var  addInput = "<div class='text-right'><button id='addInput' class='btn btn-default'><i class='fa fa-plus-circle' aria-hidden='true'></i> {% trans %}loan_btn_add_item{% endtrans %}</button></div>";
                    var labelTotal = "<div><h2>Total: <span id='total' class='label label-default'>$0.00</span></h2></div>";
                    

                    $("#holderMainRight").html(table+addInput+labelTotal);
                    $("#tablePayments tbody tr:first" ).find("input[type='number']").focus();
                }

                //var total = 0;
                $("body").on("keyup",".inputDatePayment", function(){
                    
                    sumPayment();
                });

                function sumPayment()
                {
                    var inputs = 0;
                    $(".inputDatePayment").each(function(){
                        var item = ( $(this).val() );
                        if( $.trim(item) != "" )
                        {
                            inputs = parseFloat(inputs) + parseFloat(item);
                            //console.log("item: "+item+" - total "+total);
                        }
                        
                    });
                    var total = inputs.toFixed(2);
                    $("#total").html("$"+total.replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                    var totalPaid = $("#totalPaid").text();
                    //totalPaid = (totalPaid.replace(/\D/g,''));
                    //str = "$1,250.00";
                    totalPaid=totalPaid.replace(/[$,]/gi,""); //replace $ and ,
                    var res = inputs - parseFloat(totalPaid);
                    res = res.toFixed(2);
                    $("#pending").html("$"+res.replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    //console.log(res.toFixed(2));
                }

                $("body").on("click","#addInput", function(){
                    printAddInput();
                });

                function preventAddItem()
                {
                    if( $('#appbundle_loan_loaCompleted').prop('checked') ) {
                    
                        $.alert({
						    icon: 'glyphicon glyphicon-exclamation-sign',
							title: 'Info!',
							content: "{{ ('loan_msg_error_loan_completed'|trans())|raw }}",
							type: 'red',
							typeAnimated: true,
						});
                        return 0;
                    }
                }

                function printAddInput()
                {
                    
                    res = preventAddItem();
                    if ( res == 0 ){
                        return false;
                    }

                    var lastTr = $("#tablePayments tr:last" ).attr("id");
                    //alert(lastTr);
                    if( lastTr != undefined )
                    {
                        var id = lastTr.replace(/[^0-9]/g, '');
                        var newId = parseInt(id) + 1
                        var lastDate = $("body").find("#tablePayments tr:last" ).eq(0).find(".maxDate").text();
                        var minDate = moment(lastDate, 'YYYY-MM-DD').add(1, 'days').format('YYYY-MM-DD');
                        var inputDate = $("#curringDaySelected").val();
                        var maxDate = moment(lastDate, 'YYYY-MM-DD').add(inputDate, 'days').format('YYYY-MM-DD'); 
                        var cln = $("#tablePayments tr:last" ).clone();
                        $("#tablePayments").append(cln);
                        $("body").find("#tablePayments tr:last" ).attr("id","tr_"+newId);
                        $("body").find("#tablePayments tr:last" ).removeClass("done paid");
                        $("body").find("#tablePayments tr:last" ).attr("data-paymentid","");
                        $("body").find("#tablePayments tr:last" ).attr("data-paymenttypeid","");
                       
                        $("body").find("#tablePayments tr:last" ).find("td").eq(0).html("<i class='fa fa-calendarxxxxx' aria-hidden='true'></i> <span class='initDate'>"+minDate+"</span> - <span class='maxDate'>"+maxDate+"</span>");
                        $("body").find("#tablePayments tr:last" ).find("td").eq(1).find("input").val("");
                        $("body").find("#tablePayments tr:last" ).find("td").eq(1).find("input").attr("readonly", false);
                        $("body").find("#tablePayments tr:last" ).find("td").eq(1).find(".holderEdit").remove();

                        var button = "<span class='btn btn-danger deleteItem'><i class='fa fa-trash-o' aria-hidden='true'></i> </span>";
                        $("body").find("#tablePayments tr:last" ).find("td").eq(6).html(button);
                        $("body").find("#tablePayments tr:last" ).find("td").eq(5).html("N/A");
                        $("body").find("#tablePayments tr:last" ).find("td").eq(2).html("{% trans %}general_msg_pending{% endtrans %}");
            
                        //alert();
                        var rowCount = $('#tablePayments tbody tr').length;
                        //alert(rowCount+" - rowCount");
                        if( rowCount == 0 )
                        {
                            $("#holderMainRight").empty();
                            
                        }
                        else
                        {
                            $("#appbundle_loan_loaQuotas").val(rowCount);
                        }
                    }
                }

                deleteItem();
                function deleteItem()
                {
                    $("body").on("click", ".deleteItem", function(){
                        var currentMaxDate = $(this).closest("tr").find("td").eq(0).find(".maxDate").text();
                        var rowCount = $('#tablePayments tbody tr').length;
                        if( rowCount >= 2 )
                        {
                            var inputfistPaymentDate =  $("#inputfistPaymentDate").val();
                            
                            
                            //console.log(currentMaxDate);
                            if( currentMaxDate == inputfistPaymentDate )
                            {
                                var newMaxDate = $(this).closest("tr" ).siblings().find("td").eq(0).find(".maxDate").text();
                                $(this).closest("tr" ).siblings().find("td").eq(0).find(".initDate").text("N/A");
                                $("#appbundle_loan_loaDeadline").val(newMaxDate);
                                $("#inputfistPaymentDate").val(newMaxDate);
                                $.alert({
                                    icon: 'glyphicon glyphicon-exclamation-sign',
                                    title: 'Info!',
                                    content: "{{ ('loan_msg_error_new_first_patment_date'|trans())|raw }}<b>"+newMaxDate+"</b>",
                                    type: 'blue',
                                    typeAnimated: true,
                                });
                                
                            }
                            
                        }

                        $(this).closest("tr").remove();
                        
                        $("#appbundle_loan_loaQuotas").val(rowCount-1);
                        console.log(rowCount);
                        
                        if( rowCount == 0 )
                        {
                            $("#addInput").closest("div").remove();
                        }

                        sumPayment();

                        var resRowCount = $('#tablePayments tbody tr').length;
                        if( resRowCount == 0 )
                        {
                            $("#addInput").remove();
                            $("#appbundle_loan_loaDeadline").val("");
                            $("#appbundle_loan_loaQuotas").val("");
                            $.alert({
                                    icon: 'glyphicon glyphicon-exclamation-sign',
                                    title: 'Info!',
                                    content: "{{ ('loan_msg_error_no_first_pament_date'|trans())|raw }}",
                                    type: 'red',
                                    typeAnimated: true,
                            });
                        }
                    });
                }

            {% endif %}

            $("form[name='appbundle_loan']").submit(function(){
                
                {% if loan.loc.locKey  == "inactive_rate" %}
                   var tablePayments = $("body").find("#tablePayments").length;
                   if( tablePayments == 0 )
                   {
    
						$.alert({
						    icon: 'glyphicon glyphicon-exclamation-sign',
							title: 'Info!',
							content: "{{ ('loan_msg_error_click_set_payment_day'|trans())|raw }}",
							type: 'red',
							typeAnimated: true,
						});
                        return false;
                   }
                   else
                   {
                       var arr = [];
                       //bar arrDone = [];
                       $("#tablePayments tbody tr").each(function(){
                            if( !$(this).hasClass("done") )
                            {
                                var paymentId = $(this).data("paymentid");
                                var paymenttypeId = $(this).data("paymenttypeid");
                                var date = $(this).find("td").eq(0).find(".maxDate").text();
                                var amount = $(this).find("td").eq(1).find("input[type='number']").val();
                                
                                arr.push(date+"="+amount+"|"+paymentId+"|"+paymenttypeId);
                            }
                            else
                            {

                            }
                       });
                       $("form[name='appbundle_loan']").append("<input name='paymentDates' id='paymentsDate' type='hidden' value='"+arr.join(",")+"'>");
                       //console.log(arr);
                       //return false;
                   }
                {% endif %}
                //return false;
                {% if loan.loc.locKey  == "inactive_rate" %}
                    var rowCount = $('#tablePayments tbody tr').length;
                    var quotas = $("#appbundle_loan_loaQuotas").val();
                    if( rowCount != quotas)
                    {
                        $.alert({
                                icon: 'glyphicon glyphicon-exclamation-sign',
                                title: 'Error!',
                                content: "{{ ('loan_msg_error_quotas_not_equal_with_total_record'|trans())|raw }}",
                                type: 'red',
                                typeAnimated: true,
                        });
                        return false;
                    }
                {% endif %}

                $("#holder_loading").show();
            }); 

            
            

            $("#formDelete").click(function(e){
                
                {% set loanId = app.request.get('loaId') %}
                /*{# var hasPayments = "{{ srv_Loans.getCountLoanPaymentsDone(loanId) }}" #}*/
                $.confirm({
                    title: 'Confirm!',
                    content: "{{ ('loan_msg_error_quotas_not_equal_with_total_record'|trans({'%hasPayments%': srv_Loans.getCountLoanPaymentsDone(loanId)}))|raw }}" ,
                    buttons: {
                        customConfirm: {
                            text: 'Ok',
                            btnClass: 'btn-red',
                            keys: ['enter', 'shift'],
                            action: function(){
                                $("#holder_loading").show();
                                $("#formDelete").submit();
                                return true;
                            }
                        },
                        cancel: function () {
                            //$.alert('Canceled!');
                            
                        }
                        
                    }
                });
                return false;
                //event.preventDefault();
            });

             $("body").on("click",".btnShowClient",function(event){
                event.preventDefault();
                var id = $(this).attr("href");
                showClient(id);
            });

            function showClient(id) {
                var id = id;
                var routeShow = "{{ path('client_show', { 'cliId': 'PLACEHOLDER'}) }}";
                routeShow = routeShow.replace("PLACEHOLDER", id);
				$("#holder_loading").show();
				$.ajax({
						type: "POST",
						url: routeShow,
						data: { id:id},
						error: function (data) {
							$("#holder_loading").hide();
							$.confirm({
								icon: 'fa fa-remove',
								title: 'Error!',
								content: "{{ ('general_msg_send_data'|trans())|raw }}",
								type: 'red',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Try again',
										btnClass: 'btn-red',
										action: function () {
											showClient(id);
										}
									},
									close: function () {
									}
								}
							});

						},
						success: function (data) {

							if (data != "")
							{

								//$('form[name$=appbundle_paciente]')[0].reset();
								//var routeShow = " {# {{ path('perfil_show') }} #}" //routeShow.replace("PLACEHOLDER", data);
								//window.location.assign(routeShow);
								$('#modalShowClient').modal({backdrop: 'static', keyboard: false});
                                $("#holderBodyModal").html(data);

                                var href = "{{ path('client_edit', { 'cliId': 'PLACEHOLDER' }) }}";
                                href = href.replace("PLACEHOLDER", id);    
                                $("body").find("#btnModalEditClient").attr("href", href);
                                $("body").find("#btnModalLoanClient").val(id);
        

                                $("#holder_loading").hide();
                                /*
                                $.alert({
                                    icon: 'fa fa-address-card-o',
                                    title: 'Client',
                                    type: "green",
                                    content: 'Full information'+data,
                                });
                                */
							} else
							{
								$("#holder_loading").hide();
								var infoError = (data);
								$.alert({
									icon: 'glyphicon glyphicon-exclamation-sign',
									title: 'Info!',
									content: "{{ ('general_msg_send_data'|trans())|raw }}" + infoError,
									type: 'blue',
									typeAnimated: true,
								});
							}
						}
					});
            }    

            
            //$("#tablePayments").DataTable();
            
            $('#tablePayments').DataTable({
                //"scrollX": true,
                'paging'      : false,
                'lengthChange': false,
                'searching'   : true,
                "scrollCollapse": true,
                "scrollY": 400,
                "scrollX": true,
                 bSort: false,
                //'ordering'    : true,
                //'info'        : true,
                //'autoWidth'   : false,
                //'dom': 'Bfrtip',
                //'dom': 'Blfrtip',
                /*
                'buttons': [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                */
            });

            $('#tableAdditionalAmouns').DataTable({
                //"scrollX": true,
                'paging'      : false,
                'lengthChange': false,
                'searching'   : false,
                "scrollCollapse": true,
                "scrollY": 400,
                "scrollX": true
                //'ordering'    : true,
                //'info'        : true,
                //'autoWidth'   : false,
                //'dom': 'Bfrtip',
                //'dom': 'Blfrtip',
                /*
                'buttons': [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                */
            });
            

            $("#btnAddAmounts").on("click", function(){
                $("#inputAADeliveredDate").val("");
                var interest = "{{ loan.loaRateInterestByDefault }}";

                var nextPayment = "";
                if( $("#pendingNextDeadlineToPaid").length == 1 )
                {
                    nextPayment = $("#pendingNextDeadlineToPaid").text();
                }
                else
                {
                    nextPayment = $("#appbundle_loan_loaDeadline").val();
                }

                $("#inputAANextPaymentDate").val(nextPayment);
                $("#inputAAInteres").val(interest);
                $('#modalAddAmounts').modal({backdrop: 'static', keyboard: false});
            });

            $("#btnCreateAddAmounts").on("click", function(){
                
                var loanId = "{{ app.request.get('loaId') }}";
                
                createAdditionalAmount(loanId);
             });        
            function createAdditionalAmount(loanId) {    
                
                if( loanId > 0 )
                {
                    //routeShow = routeShow.replace("PLACEHOLDER", id);
                    var amount = $.trim($("#inputAAAmount").val());
                    var interest = $.trim($("#inputAAInteres").val());
                    var deliveredDate = $.trim($("#inputAADeliveredDate").val());
                    var comment = $.trim($("#inputAAComment").val());  
                    var nextPaymentDate = $.trim($("#inputAANextPaymentDate").val());  

                    if( deliveredDate == "" ){
                        $.alert({
						    icon: 'glyphicon glyphicon-exclamation-sign',
							title: 'Error!',
							content: "La fecha del monto entregado no puede ser nulo",
							type: 'red',
							typeAnimated: true,
						});
                        return false;   
                    }

                    if( nextPaymentDate == "" ){
                        $.alert({
						    icon: 'glyphicon glyphicon-exclamation-sign',
							title: 'Error!',
							content: "La fecha del proximo pago no puede estar vacio",
							type: 'red',
							typeAnimated: true,
						});
                        return false;   
                    }

                    if( amount == "" ){
                        $.alert({
						    icon: 'glyphicon glyphicon-exclamation-sign',
							title: 'Error!',
							content: "El monto adicional no puede ser nulo",
							type: 'red',
							typeAnimated: true,
						});
                        return false;   
                    }

                    if( interest == "" ){
                        $.alert({
						    icon: 'glyphicon glyphicon-exclamation-sign',
							title: 'Error!',
							content: "El interes por defecto no puede ser nulo",
							type: 'red',
							typeAnimated: true,
						});
                        return false;   
                    }


                    var routeShow = "{{ path('loan_additionalAmounts') }}";
                    $("#holder_loading").show();
                    $.ajax({
						type: "POST",
						url: routeShow,
						data: { loanId:loanId, amount: amount, interest: interest, deliveredDate: deliveredDate, nextPaymentDate: nextPaymentDate, comment: comment},
						error: function (data) {
							$("#holder_loading").hide();
							$.confirm({
								icon: 'fa fa-remove',
								title: 'Error!',
								content: "{{ ('general_msg_send_data'|trans())|raw }}",
								type: 'red',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Try again',
										btnClass: 'btn-red',
										action: function () {
											createAdditionalAmount(loanId);
										}
									},
									close: function () {
									}
								}
							});

						},
						success: function (data){

                            if( data.res == 1 )
                            {
                                var routeShow = "{{ path('loan_edit', { 'loaId': 'PLACEHOLDER'}) }}";
                                routeShow = routeShow.replace("PLACEHOLDER", loanId);
                                window.location.assign(routeShow);
                            }
                            else
                            {
                                $("#holder_loading").hide();
                                $.alert({
                                        icon: 'glyphicon glyphicon-exclamation-sign',
                                        title: 'Error',
                                        content: "{{ ('general_msg_send_data'|trans())|raw }}" + data.msg,
                                        type: 'red',
                                        typeAnimated: true,
                                });
                            }
                                
                            /*
                                if (data != "")
                                {

                                    //$('form[name$=appbundle_paciente]')[0].reset();
                                    //var routeShow = " {# {{ path('perfil_show') }} #}" //routeShow.replace("PLACEHOLDER", data);
                                    //window.location.assign(routeShow);
                                    //$('#modalShowClient').modal({backdrop: 'static', keyboard: false});
                                    $("#holderBodyModal").html(data);

                                    var href = "{{ path('client_edit', { 'cliId': 'PLACEHOLDER' }) }}";
                                    href = href.replace("PLACEHOLDER", id);    
                                    $("body").find("#btnModalEditClient").attr("href", href);
                                    $("body").find("#btnModalLoanClient").val(id);
            

                                    $("#holder_loading").hide();
                                } else
                                {
                                    $("#holder_loading").hide();
                                    var infoError = (data);
                                    $.alert({
                                        icon: 'glyphicon glyphicon-exclamation-sign',
                                        title: 'Info!',
                                        content: "{{ ('general_msg_send_data'|trans())|raw }}" + infoError,
                                        type: 'blue',
                                        typeAnimated: true,
                                    });
                                }
                            */
						}
					});
                }  
            }  
        
        });
    </script>    
{% endblock %}
