{% extends 'app/base.html.twig' %}

{% block title_page %}
    {% trans %}loan_index_title{% endtrans %} - {% trans %}app_name{% endtrans %}
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %}

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %}


{#
{% block header %}
        <h1>Clients list</h1><hr>
{% endblock %}
#}

{% block content %}

<style>
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.marginBT{
    margin-bottom:7px; 
}

.amounts{
    font-size:14px;
    font-weight: 700;
    color: #34825F;
}
.label{
    font-size:13px !important;
}
</style>

{#  Check the notifications #}
{% set created = 0 %}
{% for message in app.session.flashbag().get("success") %}
    <div class="alert alert-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{message}}</div>
{% endfor %}
{% for message in app.session.flashbag().get("error") %}
    <div class="alert alert-danger"><i class="fa fa-times" aria-hidden="true"></i> {{message}} </div>
{% endfor %}
{# End notifications #}

<section class="content-header">
      <h1>
       {% trans %}loan_index_title{% endtrans %}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('dashboard_index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        {# <li class="active">Loans</li> #}
      </ol>
</section>
<hr>
<div class="box">
    <div class="box-header">
        <div class="row">
            <div class="col-md-4"><i class="fa fa-handshake-o" aria-hidden="true"></i> {% trans %}loan_index_total_records{% endtrans %}: <span class="badge">{{ loans|length }}</span></div>
            <div class="col-md-4 col-md-offset-4 text-right">
               <form class="form-inline"> 
                    <div class="form-group">
                        <label>{% trans %}loan_index_status_filtered_by{% endtrans %}: </label> 
                        <select class="form-control" id="statusList">
                            <option value="all">{% trans %}loan_index_filter_opt_all{% endtrans %}</option>
                            <option value="0">{% trans %}loan_index_filter_opt_no_finished{% endtrans %}</option>
                            <option value="1">{% trans %}loan_index_filter_opt_finished{% endtrans %}</option>
                            <option value="2">{% trans %}loan_index_filter_opt_freezed{% endtrans %}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        {% set client = app.request.get('client')  %}
        {% set sta = app.request.get('sta')  %}
        {% if client > 0 %}
            
              {% if sta != "" %}
                {% set v = "?sta="~sta %}
              {% else %}
                {% set v = "" %}
              {% endif %}  
            <div class="text-right"><a href="{{ path('loan_index')  }}{{v}}">Click here to see all loans</a></div>
        {% endif  %}
    </div>
    
    <div class="box-body">
        <table class="table table-striped" id="loanList">
            <thead>
                <tr>
                    {# <th>Loaid</th> #}
                    <th>#</th>
                    <th>{% trans %}loan_index_table_title_code{% endtrans %}</th>
                    <th>{% trans %}loan_index_table_title_loan_type{% endtrans %}</th>
                    <th>{% trans %}loan_index_table_title_client_name{% endtrans %}</th>
                    <th>{% trans %}loan_index_table_title_requested_amount{% endtrans %}</th>
                    {#
                    <th>Rate Interest</th>
                    <th>Description</th>
                    #}
                    {# 
                    <th>Dead line</th>
                    <th>Quotas</th>
                    #}
                    {# <th>Pending Money</th>#}
                    <th>{% trans %}loan_index_table_title_status{% endtrans %}</th>
                    {# <th>Active</th> #}
                    <th>{% trans %}loan_index_table_title_created_at{% endtrans %}</th>
                    <th>{% trans %}loan_index_table_title_actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% set num = 1 %}
            {% for loan in loans %}
                <tr>
                    {# <td><a href="{{ path('loan_show', { 'loaId': loan.loaId }) }}">{{ loan.loaId }}</a></td> #}
                    <td>{{ num }}</td>
                    <td>{{ loan.loa_code }} </td>
                    <td>
                        {% if loan.loc_id == 1 %}
                            <span class="label label-primary">{% trans %}general_loan_with_percentage{% endtrans %}</span>
                        {% elseif loan.loc_id == 2 %}
                            <span class="label label-warning">{% trans %}general_loan_per_quotas{% endtrans %}</span>
                        {% else %}
                            {{ loan.loc_type }}
                        {% endif %}
                    </td>
                    <td><a href="{{ loan.cli_id }}" class="btnShowClient"> {{ loan.cli_first_name ~" "~ loan.cli_middle_name ~" "~ loan.cli_first_surname ~" "~ loan.cli_second_surname }} </a></td>
                    <td>
                        <span class="amounts">
                            ${{ loan.loa_amount|number_format(2, '.', ',') }}
                            
                             {% set additionalAmounts = srv_Loans.getTotalAdditionalAmounts(loan.loa_id) %}
                             {% if additionalAmounts > 0 %}
                                + ${{ additionalAmounts|number_format(2, '.', ',') }}
                             {% endif %}
                        </span>
                    </td>
                    {#
                    <td>{{ loan.loaRateInterest }}%</td>
                    <td>{{ loan.loaDescription }}</td>
                    #}
                    {# 
                    <td>{% if loan.loaDeadline %}{{ loan.loaDeadline|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ loan.loaQuotas }}</td>
                    
                    <td>{{ loan.loaPending }}</td>
                    #}
                    <td>
                        {% if loan.loa_completed == 1 %}
                            <span class="label label-success">{% trans %}loans_status_finished{% endtrans %}</span>
                        {% elseif loan.loa_completed == 2 %}
                            <span class="label label-danger"> {% trans %}loans_status_freezed{% endtrans %}</span>
                        {% else %}
                            <span class="label label-default"> {% trans %}loans_status_no_finished{% endtrans %} </span>
                        {% endif %}
                    </td>
                    {# <td>{% if loan.loaActive %}Yes{% else %}No{% endif %}</td> #}
                    <td>{% if loan.loa_created %} {{ srv_TimeZone.getTimeZone(loan.loa_created|date('Y-m-d H:i:s')) }} {% endif %}</td>
                    <td>
                        <ul class="list-inline" style="margin-bottom: 0px;">
                            
                            <li>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-money" aria-hidden="true"></i> {% trans %}loan_btn_payments{% endtrans %} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('loanpayment_new',{'loaId':loan.loa_id} ) }}" class=""><i class="fa fa-money" aria-hidden="true"></i>{% trans %}loan_btn_do_payment{% endtrans %}</a></li>
                                        <li><a href="{{ path('loanpayment_quotasHistory') }}?loaId={{loan.loa_id}}" class=""><i class="fa fa-list" aria-hidden="true"></i> {% trans %}loan_btn_payment_history{% endtrans %}</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="btnShow btn btn-block btn-info marginBT" href="{{ path('loan_show', { 'loaId': loan.loa_id }) }}"><i class="fa fa-address-card-o" aria-hidden="true"></i> {% trans %} general_btn_show {% endtrans %}</a>
                            </li>
                            <li>
                                <a class="btn btn-block btn-primary marginBT" href="{{ path('loan_edit', { 'loaId': loan.loa_id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans %} general_btn_edit {% endtrans %}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% set num = num + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    {#
    <ul>
        <li>
            <a href="{{ path('loan_new') }}">Create a new loan</a>
        </li>
    </ul>
    #}

{#  {{ app.request.uri }} #}
{{ include('app/client/_modals.html.twig' )  }}    
{% endblock %}

{% block codejs %}
    <script>
        //$(document).on("ready", function(){
        $(function () {
            // initialize with defaults
            {% if app.request.getLocale() == "en" %}
                var all = "All";
            {% else %}
                var all = "Todo";
            {% endif %}
            $('#loanList').DataTable({
                //"scrollX": true,
                //'paging'      : true,
                //'lengthChange': false,
                //'searching'   : false,
                //'ordering'    : true,
                //'info'        : true,
                "iDisplayLength" : 10,
                "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, all]],
                'autoWidth'   : false,
                //'dom': 'Bfrtip',
                dom: 'Blfrtip',
                'buttons': [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                "language": {
                    //"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
                    {{ srv_Dashboard.langDatata(app.request.getLocale()) }}
                }
            });

            $("body").on("click",".btnShowClient",function(event){
                event.preventDefault();
                var id = $(this).attr("href");
                showClient(id);
            });

            function showClient(id) {
                var id = id;
                var routeShow = "{{ path('client_show', { 'cliId': 'PLACEHOLDER'}) }}";
                routeShow = routeShow.replace("PLACEHOLDER", id);
				$("#holder_loading").show();
				$.ajax({
						type: "POST",
						url: routeShow,
						data: { id:id},
						error: function (data) {
							$("#holder_loading").hide();
							$.confirm({
								icon: 'fa fa-remove',
								title: 'Error!',
								content: 'An error occurred while trying to send the request',
								type: 'red',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Try again',
										btnClass: 'btn-red',
										action: function () {
											showClient(id);
										}
									},
									close: function () {
									}
								}
							});

						},
						success: function (data) {

							if (data != "")
							{

								//$('form[name$=appbundle_paciente]')[0].reset();
								//var routeShow = " {# {{ path('perfil_show') }} #}" //routeShow.replace("PLACEHOLDER", data);
								//window.location.assign(routeShow);
								$('#modalShowClient').modal({backdrop: 'static', keyboard: false});
                                $("#holderBodyModal").html(data);

                                var href = "{{ path('client_edit', { 'cliId': 'PLACEHOLDER' }) }}";
                                href = href.replace("PLACEHOLDER", id);    
                                $("body").find("#btnModalEditClient").attr("href", href);
                                $("body").find("#btnModalLoanClient").val(id);
        

                                $("#holder_loading").hide();
                                /*
                                $.alert({
                                    icon: 'fa fa-address-card-o',
                                    title: 'Client',
                                    type: "green",
                                    content: 'Full information'+data,
                                });
                                */
							} else
							{
								$("#holder_loading").hide();
								var infoError = (data);
								$.alert({
									icon: 'glyphicon glyphicon-exclamation-sign',
									title: 'Info!',
									content: 'An error occurred while trying to save the information <br>' + infoError,
									type: 'blue',
									typeAnimated: true,
								});
							}
						}
					});
            }

            var cli = "{{ app.request.get('client') }}";
            $("#statusList").change(function(){
                $("#holder_loading").show();
                var status = $(this).val();
                if( cli > 0 )
                {
                    var routeLoad = "{{ path('loan_index') }}?client="+cli+"&sta="+status;
                }
                else
                {
                    var routeLoad = "{{ path('loan_index') }}?sta="+status
                }
                
                window.location.assign(routeLoad);

            });

            var sta = "{{ app.request.get('sta') }} ";
           
            if( sta )
            {
                //$("#statusList").val(sta);
                $("#statusList option[value="+sta+"]").attr('selected', 'selected');

            }
        });    
    </script>
{% endblock %}

