{% extends "web/skeleton.html.twig" %}

{% block title_page %}Profile Medic{% endblock %}

{% block stylesheets %}

{# Bootstrap #}
<link rel="stylesheet" href="{{ asset('bundles/web/site/css/bootstrap.css') }} " type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/app/template/bower_components/font-awesome/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/web/site/css/custom.css') }} " type="text/css">



{# Fav and touch icons #}
{#
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/web/template/Site/assets/images/favicon-icon/apple-touch-icon-144-precomposed.png') }}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/web/template/Site/assets/images/favicon-icon/apple-touch-icon-72-precomposed.png') }}">
<link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/web/template/Site/assets/images/favicon-icon/apple-touch-icon-57-precomposed.png') }}">
<link rel="shortcut icon" href="{{ asset('bundles/web/template/sitSitee/assets/images/favicon-icon/favicon.png') }}">
#}
{# Google-Font #}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

{% block css %}{% endblock %}
{% endblock %}


{% block body_page %}
    <div id="holder_loading">
        <div id="bg_loading">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
        </div>
    </div>
    {# header #}
    {{ include('web/header.html.twig')  }}

    {# content #}
    {% block content %}

    {% endblock %}

    {#  footer #}
    <footer id="footer" class="secondary-bg">
        <div class="footer_bottom">
            <div class="container">
                <p>Copyright &copy; 2018 loansbillboard.com. All Rights Reserved</p>
            </div>
        </div>
    </footer>


{% endblock %}

{% block javascripts %}

    {# Scripts #}
    <script src="{{ asset('bundles/web/site/js/jquery.js') }} "></script>
    <script src="{{ asset('bundles/web/site/js/bootstrap.min.js') }}"></script>
    {# Carousel-JS #}
    <script src="{{ asset('bundles/web/site/js/owl.carousel.js') }} "></script>
  
{% endblock %}
{% block codejs %}{% endblock %}





