{% extends 'app/base.html.twig' %}

{% block title_page %}
    {% trans %}clients_title{% endtrans %} - {% trans %}name_app{% endtrans %}
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %}

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %}


{#
{% block header %}
        <h1>Clients list</h1><hr>
{% endblock %}
#}

{% block content %}

<style>
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.splitPayment{
    padding-left:20px;
}
</style>

{#  Check the notifications #}
{% set created = 0 %}
{% for message in app.session.flashbag().get("success") %}
    <div class="alert alert-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{message}}</div>
{% endfor %}
{% for message in app.session.flashbag().get("error") %}
    <div class="alert alert-danger"><i class="fa fa-times" aria-hidden="true"></i> {{message}} </div>
{% endfor %}
{# End notifications #}

<section class="content-header">
      <h1>
        {% trans %}clients_title{% endtrans %}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('dashboard_index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">{% trans %}clients_title{% endtrans %}</li>
      </ol>
</section>
<hr>
<div class="box">
    <div class="box-header">
        {#<h3 class="box-title">#}
        <div class="row">
            <div class="col-md-4"><i class="fa fa-users" aria-hidden="true"></i> {% trans %} clients_total_records {% endtrans %}: <span class="badge">{{ clients|length }}</span></div>
            <div class="col-md-4 col-md-offset-4 text-right">
               <form class="form-inline"> 
                    <div class="form-group">
                        <label>{% trans %} clients_status_filtered_by {% endtrans %}: </label> 
                        <select class="form-control" id="statusList">
                            <option value="all">{% trans %}clients_list_all_clients{% endtrans %}</option>
                            <option value="0">{% trans %}clients_list_inactive_clients{% endtrans %}</option>
                            <option value="1">{% trans %}clients_list_active_clients{% endtrans %}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>

        <hr>
        {# </h3> #}
    </div>
    <div class="box-body">
        <table class="table  table-striped" id="clientslist">
            <thead>
                <tr>
                    <th>#</th>
                    {# 
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>First Surname</th>
                    <th>Second Surname</th>
                    
                    #}
                    <th>{% trans %}clients_table_title_profile_imagen{% endtrans %}</th>
                    <th>{% trans %}clients_table_title_full_name{% endtrans %}</th>
                    <th>{% trans %}clients_table_title_id_number{% endtrans %}</th>
                    <th>{% trans %}clients_table_title_id_type{% endtrans %}</th>
                    {#
                    <th>Address</th>
                    <th>Phone1</th>
                    <th>Phone2</th>
                    <th>Email</th>
                    <th>Note</th>
                    #}
                    <th>{% trans %}clients_table_title_ative{% endtrans %}</th>
                    <th>{% trans %}clients_table_title_actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% set num = 1 %}
            {% for client in clients %}
                <tr>
                    {# <td><a href="{{ path('client_show', { 'cliId': client.cliId }) }}">{{ client.cliId }}</a></td> #}
                    <td>{{ num }}</td>
                    <td>
                        {% set image = client.cliProfileImage %}
                        {% if file_exists( 'uploads/'~image ) and image != "" %}
                        <img src="{{ image('uploads/'~image).cropResize(35,35) }}" class="img-thumbnail">
                        {% else %}
                            <img src="{{ image('bundles/app/images/user.png').cropResize(35,35)  }} " class="img-thumbnail" style="" alt="image">
                        {% endif %}
                    </td>
                    <td>{{ client.cliFirstName }} {{ client.cliMiddleName }} {{ client.cliFirstSurname }} {{ client.cliSecondSurname }}</td>
                    <td>{{ client.cliIdNumber }}</td>
                    <td>{{ client.cliIdType }}</td>
                    {#
                    <td>{{ client.cliAddress }}</td>
                    <td>{{ client.cliPhone1 }}</td>
                    <td>{{ client.cliPhone2 }}</td>
                    <td>{{ client.cliEmail }}</td>                    
                    <td>{{ client.cliNote }}</td>
                    #}
                    <td>{% if client.cliActive %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <button class="btnShow btn btn-block btn-info" value="{{client.cliId}}"><i class="fa fa-address-card-o" aria-hidden="true"></i> {% trans %} general_btn_show {% endtrans %} </button>
                            </li>
                            <li>
                                <a class="btn btn-block btn-primary" href="{{ path('client_edit', { 'cliId': client.cliId }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans %} general_btn_edit {% endtrans %}</a>
                            </li>
                            <li>
                                {# <button class="btn bg-olive btn-flat btnModalLoanClient" value="{{ client.cliId }}"><i class="fa fa-usd" aria-hidden="true"></i> Loans</button> #}
                                <!-- Single button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-handshake-o" aria-hidden="true"></i> {% trans %} clients_btn_loans {% endtrans %} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('loan_new',{ 'clientId': client.cliId }) }}"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {% trans %}clients_btn_create_loan{% endtrans %}</a></li>
                                        <li><a href="{{ path('loan_index') }}?client={{client.cliId}}"><i class="fa fa-archive" aria-hidden="true"></i> {% trans %}clients_btn_my_loans{% endtrans %}</a></li>
                                        
                                        {% set hasLoans = srv_Loans.getClientLoans(client.cliId) %}
                                        {% if hasLoans|length %}
                                            <li role="separator" class="divider"></li>
                                            <li><span class="splitPayment">{% trans %}clients_msg_pending_loans{% endtrans %} {#<i class="fa fa-arrow-down" aria-hidden="true"></i>#}</span></li>
                                            <li role="separator" class="divider"></li>
                                            {% for loan in hasLoans %}
                                                <li><a href="{{ path('loan_show', { 'loaId': loan.loaId }) }}"><i class="fa fa-usd" aria-hidden="true"></i>{{ loan.loaCode }}</a></li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% set num = num + 1%}
            {% endfor %}
            </tbody>
        </table>

        <ul class="list-inline">
            <li>
                <a class="btn btn-warning" href="{{ path('client_new') }}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {% trans %}clients_btn_create_new_client{% endtrans %}</a>
            </li>
        </ul>
    </div>
</div>

{{ include('app/client/_modals.html.twig' )  }}
{% endblock %}

{% block codejs %}
    <script>
        //$(document).on("ready", function(){
        $(function () {
            {% if app.request.getLocale() == "en" %}
                var all = "All";
            {% else %}
                var all = "Todo";
            {% endif %}
            // initialize with defaults
            $('#clientslist').DataTable({
                //"scrollX": true,
                //'paging'      : true,
                //'lengthChange': false,
                //'searching'   : false,
                //'ordering'    : true,
                //'info'        : true,
                "iDisplayLength" : 10,
                "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, all]],
                'autoWidth'   : false,
                //'dom': 'Bfrtip',
                dom: 'Blfrtip',
                'buttons': [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                "language": {
                    //"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
                    {{ srv_Dashboard.langDatata(app.request.getLocale()) }}
                }
            });

            //$(".holderModal").modal();

            $("body").on("click",".btnShow",function(){
                var id = $(this).val();
                showClient(id);
            });

            function showClient(id) {
                var id = id;
                var routeShow = "{{ path('client_show', { 'cliId': 'PLACEHOLDER'}) }}";
                routeShow = routeShow.replace("PLACEHOLDER", id);
				$("#holder_loading").show();
				$.ajax({
						type: "POST",
						url: routeShow,
						data: { id:id},
						error: function (data) {
							$("#holder_loading").hide();
							$.confirm({
								icon: 'fa fa-remove',
								title: 'Error!',
								content: 'An error occurred while trying to send the request',
								type: 'red',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Try again',
										btnClass: 'btn-red',
										action: function () {
											showClient(id);
										}
									},
									close: function () {
									}
								}
							});

						},
						success: function (data) {

							if (data != "")
							{

								//$('form[name$=appbundle_paciente]')[0].reset();
								//var routeShow = " {# {{ path('perfil_show') }} #}" //routeShow.replace("PLACEHOLDER", data);
								//window.location.assign(routeShow);
								$('#modalShowClient').modal({backdrop: 'static', keyboard: false});
                                $("#holderBodyModal").html(data);

                                var href = "{{ path('client_edit', { 'cliId': 'PLACEHOLDER' }) }}";
                                href = href.replace("PLACEHOLDER", id);    
                                $("body").find("#btnModalEditClient").attr("href", href);
                                $("body").find("#btnModalLoanClient").val(id);
        

                                $("#holder_loading").hide();
                                /*
                                $.alert({
                                    icon: 'fa fa-address-card-o',
                                    title: 'Client',
                                    type: "green",
                                    content: 'Full information'+data,
                                });
                                */
							} else
							{
								$("#holder_loading").hide();
								var infoError = (data);
								$.alert({
									icon: 'glyphicon glyphicon-exclamation-sign',
									title: 'Info!',
									content: 'An error occurred while trying to save the information <br>' + infoError,
									type: 'blue',
									typeAnimated: true,
								});
							}
						}
					});
            }

            $("body").on("click",".btnModalLoanClient",function(){
                var id = $(this).val();
                loanForm(id);
            });
            
            function loanForm(id) {
                var id = id;
                var routeShow = "";
                //routeShow = routeShow.replace("PLACEHOLDER", id);
				$("#holder_loading").show();
				$.ajax({
						type: "POST",
						url: routeShow,
						data: { id:id},
						error: function (data) {
							$("#holder_loading").hide();
							$.confirm({
								icon: 'fa fa-remove',
								title: 'Error!',
								content: 'An error occurred while trying to send the request',
								type: 'red',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Try again',
										btnClass: 'btn-red',
										action: function () {
											loanForm(id);
										}
									},
									close: function () {
									}
								}
							});

						},
						success: function (data) {

							if (data != "")
							{
								
                                $('#modalLoans').modal({backdrop: 'static', keyboard: false});
                                $("#holderBodyModalLoand").html(data);

                                //var href = "{{ path('client_edit', { 'cliId': 'PLACEHOLDER' }) }}";
                                //href = href.replace("PLACEHOLDER", id);    
                                //$("body").find("#btnModalEditClient").attr("href", href);

                                $("#holder_loading").hide();
                                /*
                                $.alert({
                                    icon: 'fa fa-address-card-o',
                                    title: 'Client',
                                    type: "green",
                                    content: 'Full information'+data,
                                });
                                */
							} else
							{
								$("#holder_loading").hide();
								var infoError = (data);
								$.alert({
									icon: 'glyphicon glyphicon-exclamation-sign',
									title: 'Info!',
									content: 'An error occurred while trying to save the information <br>' + infoError,
									type: 'blue',
									typeAnimated: true,
								});
							}
						}
					});
            }

            $("#statusList").change(function(){
                $("#holder_loading").show();
                var status = $(this).val();
                var routeLoad = "{{ path('client_index') }}?sta="+status
                window.location.assign(routeLoad);

            });

            var sta = $.trim("{{ app.request.get('sta') }}");
            if( sta !== 'undefined' && sta != "")
            {
                //alert(sta);
                //$("#statusList").val(sta);
                $("#statusList option[value="+sta+"]").attr('selected', 'selected');

            }
        });    
    </script>
{% endblock %}
