<div class="col-lg-6">
        
        {# {% trans %}payment_rata_current_balance{% endtrans %}:<br> #}
        Balance 1 (Inicial):<br>
        <div class="well">
            
            <table>
                <tr>
                    <td>
                        <span class="amounts">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            <span  id="pendingAmount" class="pendingAmount">{{ pendingPaid|number_format(2, '.', ',') }}</span>
                            x <span class="amounts"><span id="htmlRate">{{rate}}</span>% </span> 
                                                                    
                            = 
                        </span>
                    </td>
                    <td> &#160; <span class="amounts"><i class="fa fa-usd" aria-hidden="true"></i><span id="htmlJustRate">{{ ((rate/100)*pendingPaid)|number_format(2, '.', ',') }}</span> </div></td>        
                </tr>
                <tr>
                    <td><div class="text-right amounts"> + </div></td>
                    <td><span class="amounts">&#160; <i class="fa fa-usd" aria-hidden="true"></i><span  id="pendingAmount" class="pendingAmount">{{ pendingPaid|number_format(2, '.', ',') }}</span></span></td>        
                </tr>
                <tr>
                    <td><div class="text-right amounts">Total = </div></td>
                    <td>
                        <span class="amounts">
                            &#160; <i class="fa fa-usd" aria-hidden="true"></i>
                            <span id="boxHtmlTotalAmount" class="">{{ (pendingPaid + (rate/100)*pendingPaid)|number_format(2, '.', ',') }}</span>
                            {% set Balance1 = (pendingPaid + (rate/100)*pendingPaid) %}
                        </span>
                    </td>        
                </tr>    
            </table>
        </div>
    </div>