<table id="paymetslist" class="table table-striped display nowrap" style="width:100%">
            <thead>
                <tr>
                   
                    <th colspan="3" class="text-center">Payments date</th>

                    <th colspan="4" style="background-color: #D2D6DE; color: #34825F" class="text-center">Previous Payments</th>

                    <th colspan="3" style="background-color: #00A65A; color: #fff" class="text-center">Payments Done</th>

                    <th colspan="4" style="background-color: #00C0EF; color: #fff" class="text-center">{{ titleTh }}</th>

                    <th colspan="1" class="text-center">Some description</th>

                </tr>
                <tr>
                    <th><div class="col text-center">A</div>#</th>
                    <th><div class="col text-center">B</div>Date paid quota</th>
                    <th><div class="col text-center">C</div>Max date to payment</th>
                    <th class="no-sort"></th>
                    <th colspan><div class="col text-center">D</div>Amount</th>
                    <th><div class="col text-center">E</div>Interest</th>
                    <th><div class="col text-center">F</div>Col(D) x Col(E)<div class="col text-center">Sub Total</div></th>
                    <th style="background-color: #d2d6de"><div class="col text-center">G<br>Col(D) + Col(F)</div><div class="col text-center">Total</div></th>

                    <th><div class="col text-center">H</div>Paid amount</th>
                    <th><div class="col text-center">I</div>Paid interest</th>
                    <th><div class="col text-center">J</div>Paid capital</th>

                    <th><div class="col text-center">K</div>Amount</th>
                    <th><div class="col text-center">L</div>Interest</th>
                    <th><div class="col text-center">M</div>Col(K) x Col(L)<div class="col text-center">Sub Total</div></th>
                    <th style="background-color: #00C0EF; color:#fff"><div class="col text-center">N</div>Col(K) + Col(M)<div class="col text-center">Total</div></th>
                    <th><div class="col text-center">O</div>&#160;</th>
                </tr>
            </thead>
            <tbody>
                {% set num = 0 %}
                {% set lastP = 0 %}

                {% set totalPaid = 0 %} 
                {% set totalCapital = 0 %}
                {% set totalRate = 0 %}

                {% set last = 0 %}
                {% for payment in payments %}
                    {% set iniAmount = payment.lpaCurrentAmount %}
                    {% set pendingAmount =  (iniAmount  -  payment.lpaPaidCapital)  %}
                    {% set  iniAmount =  pendingAmount %}

                    {% set num = num + 1 %}

                    
                    <tr>
                        <td>{{ num }}</td>
                        <td>{{ payment.lpaPaidDate|date('Y-m-d') }}</td>
                        <td>{{ payment.lpaMaxPaymentDate|date("Y-m-d") }}</td>
                        {% if lastP == 0 %}
                                {% set prev = (pendingAmount +  payment.lpaPaidCapital) %}
                                {# ${{ (pendingAmount +  payment.lpaPaidCapital)|number_format(2, '.', ',') }} #}
                            {% else %}
                                {% set prev = lastP %}
                               
                        {% endif %}  

                            

                        {% if last != payment.lpaCurrentAmount %}
                            {% set prev =  payment.lpaCurrentAmount  %}
                            {# {% else %} #}
                                
                        {% endif %}
                        <td>
                            {% if last > 0 %}
                                {% set added = payment.lpaCurrentAmount - last %}
                                {% if added !="" %}
                                    {% if added > 0 %}+{% else %}+{% endif %}
                                    ${{ added|number_format(2, '.', ',') }} = 
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            


                             <span class="label label-default amounts">${{ prev|number_format(2, '.', ',')  }}</span>  
                            
                             
                        </td>
                        <td>
                            <span class="label label-default amounts">
                                {% if payment.lpaCurrentRateInterest %}
                                    {{ payment.lpaCurrentRateInterest }}
                                {% else %}
                                    0
                                {% endif %}%
                            </span>
                        </td>

                        <td >
                            <span class="label label-default amounts">
                             {% set amonXrate =  ( (payment.lpaCurrentRateInterest/100)*prev) %}
                             ${{ amonXrate|number_format(2, '.', ',') }}
                            </span>
                        </td>

                        <td style="background-color: #d2d6de">
                            <span class="label label-default amounts">
                             ${{ (prev + amonXrate)|number_format(2, '.', ',') }}
                            </span>
                        </td>
                        <td><span class="label label-success amounts">${{ payment.lpaTotalAmountPaid|number_format(2, '.', ',') }}</span></td>
                        <td><span class="label label-success amounts">${{ payment.lpaPaidRateInterest|number_format(2, '.', ',') }}</span></td>
                        <td><span class="label label-success amounts">${{ payment.lpaPaidCapital|number_format(2, '.', ',') }}</span></td>
                        <td>
                            <span class="label label-info amounts">
                            {# {% set lastP =  (pendingAmount + ((payment.lpaCurrentRateInterest/100) * pendingAmount ) )%} #}
                            {% set lastP = pendingAmount %}
                            ${{ lastP|number_format(2, '.', ',')  }}
                            </span>
                        </td>
                        <td>
                            <span class="label label-info amounts">
                                {% if lastP > 0 %}
                                    {% if payment.lpaNextRateInterest %}
                                        {{ payment.lpaNextRateInterest }}
                                    {% else %}
                                        0
                                    {% endif %}
                                    %
                                {% else %}
                                    N/A
                                {% endif %}
                            </span>
                        </td>
                        <td> <span class="label label-info amounts">${{ (((payment.lpaNextRateInterest/100) * pendingAmount ) )|number_format(2, '.', ',') }} </span></td>
                        <td style="background-color: #00C0EF"><span class="label label-info amounts">${{ (pendingAmount + ((payment.lpaNextRateInterest/100) * pendingAmount ) )|number_format(2, '.', ',') }} </span></td>
                        <td ><div class="note">{{ payment.lpaNote }}</div></td>
                        

                        {% set totalPaid = totalPaid + payment.lpaTotalAmountPaid %}
                        {% set totalCapital = totalCapital + payment.lpaPaidCapital %}
                        {% set totalRate = totalRate + payment.lpaPaidRateInterest %}


                        {% set last =  payment.lpaCurrentAmount  %}
                    </tr>
                    {#
                    <tr>
                        <td> {{ num }}</td>
                        <td>{{ payment.lpaPaidDate|date('Y-m-d') }}</td>
                        <td>{{ payment.lpaMaxPaymentDate|date("Y-m-d") }}</td>
                        
                        
                        <td>${{ (pendingAmount +  payment.lpaPaidCapital)|number_format(2, '.', ',') }}</td>
                        
                        
                        <td>{{ payment.lpaCurrentRateInterest }}%</td>

                        <td>
                            <span class="label label-default amounts">
                             ${{ ((pendingAmount + payment.lpaPaidCapital) + (payment.lpaCurrentRateInterest/100)*(pendingAmount + payment.lpaPaidCapital))|number_format(2, '.', ',') }}
                            </span>
                        </td>

                        <td><span class="label label-success amounts">${{ payment.lpaTotalAmountPaid|number_format(2, '.', ',') }}</span></td>

                        <td>${{ payment.lpaPaidRateInterest|number_format(2, '.', ',') }}</td>
                        <td>${{ payment.lpaPaidCapital|number_format(2, '.', ',') }}</td>
                        <td>
                            <span class="label label-info amounts">${{ (pendingAmount + ((payment.lpaCurrentRateInterest/100) * pendingAmount ) )|number_format(2, '.', ',') }}</span>
                        </td>
                        <td>{{ payment.lpaNote }}</td>
                    </tr>
                    #}
                    
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    
                    
                    
                    <th><span class="label label-success amounts">${{ totalPaid|number_format(2, '.', ',') }}</span></th>
                    <th><span class="label label-success amounts">${{ totalRate|number_format(2, '.', ',') }}</span></th>
                    <th><span class="label label-success amounts">${{ totalCapital|number_format(2, '.', ',') }}</span></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>