
{% set Balance1 = 0.00 %}
{% set Balance2 = 0.00 %} 
{% set SumBalance1Balance2 = 0.00 %} 
<div class="row">
    {% if (rate_add is defined and rate != rate_add) or ( loandAdd_splitted_balance is defined and loandAdd_splitted_balance == 1) %} {# ==== condition =================================== #}
        <div class="col-lg-6">
            {# {% trans %}payment_rata_current_balance{% endtrans %}:<br> #}
            Balance 1 (Inicial):<br>
            <div class="well tabInitBalance selectedBalance">
                {% set pendingPaid = pendingPaid + srv_Loans.getTotalAdditionalAmountsJoinedMainBalance(loan.loaId) %}
                <table>
                    <tr>
                        <td>
                            <span class="amounts">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                <span  id="pendingAmount" class="pendingAmount">{{ pendingPaid|number_format(2, '.', ',') }}</span>
                                x <span class="amounts"><span id="htmlRate">{{rate}}</span>% </span> 
                                                                        
                                = 
                            </span>
                        </td>
                        <td> &#160; <span class="amounts"><i class="fa fa-usd" aria-hidden="true"></i><span id="htmlJustRate">{{ ((rate/100)*pendingPaid)|number_format(2, '.', ',') }}</span> </div></td>        
                    </tr>
                    <tr>
                        <td><div class="text-right amounts"> + </div></td>
                        <td><span class="amounts">&#160; <i class="fa fa-usd" aria-hidden="true"></i><span  id="pendingAmount" class="pendingAmount">{{ pendingPaid|number_format(2, '.', ',') }}</span></span></td>        
                    </tr>
                    <tr>
                        <td><div class="text-right amounts">Total = </div></td>
                        <td>
                            <span class="amounts">
                                &#160; <i class="fa fa-usd" aria-hidden="true"></i>
                                <span id="boxHtmlTotalAmount" class="">{{ (pendingPaid + (rate/100)*pendingPaid)|number_format(2, '.', ',') }}</span>
                                {% set Balance1 = (pendingPaid + (rate/100)*pendingPaid) %}
                            </span>
                        </td>        
                    </tr>    
                </table>
            </div>
        </div>
        {% if hasBalance is defined and hasBalance|length > 0 %}
            <div class="col-lg-6">
                Balance 2 (Adicional):<br>
                <div class="well tabAdditional ">
                    <table>
                        <tr>
                            <td>
                                <span class="amounts">
                                    <i class="fa fa-usd" aria-hidden="true"></i>
                                    <span  id="pendingAmount_additional" class="pendingAmount">{{ pendingPaid_add|number_format(2, '.', ',') }}</span>
                                    x <span class="amounts"><span id="htmlRate_additional">{{rate_add}}</span>% </span> 
                                                                            
                                    = 
                                </span>
                            </td>
                            <td> &#160; <span class="amounts"><i class="fa fa-usd" aria-hidden="true"></i><span id="htmlJustRate_additional">{{ ((rate_add/100)*pendingPaid_add)|number_format(2, '.', ',') }}</span> </div></td>        
                        </tr>
                        <tr>
                            <td><div class="text-right amounts"> + </div></td>
                            <td><span class="amounts">&#160; <i class="fa fa-usd" aria-hidden="true"></i><span  id="pendingAmount" class="pendingAmount">{{ pendingPaid_add|number_format(2, '.', ',') }}</span></span></td>        
                        </tr>
                        <tr>
                            <td><div class="text-right amounts">Total = </div></td>
                            <td>
                                <span class="amounts">
                                    &#160; <i class="fa fa-usd" aria-hidden="true"></i>
                                    <span id="boxHtmlTotalAmount_additional" class="">{{ (pendingPaid_add + (rate_add/100)*pendingPaid_add)|number_format(2, '.', ',') }}</span>
                                    {% set Balance2 = (pendingPaid_add + (rate_add/100)*pendingPaid_add) %}
                                </span>
                            </td>        
                        </tr>    
                    </table>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="col-lg-6">
            {% set Balance1 = pendingPaid %}
           
            {% if hasBalance is defined and hasBalance|length > 0 %}
                {% set Balance2 = pendingPaid_add %}
            {% else %}
                {% set Balance2 = srv_Loans.getTotalAdditionalAmountsJoinedMainBalance(loan.loaId) %}    
            {% endif %}
            Balance:<br>
            <div class="well tabInitBalance selectedBalance">
                
                <table>
                    <tr>
                        <td>
                            <span class="amounts">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                <span  id="pendingAmount" class="pendingAmount">{{ (Balance1 + Balance2)|number_format(2, '.', ',') }}</span>
                                x <span class="amounts"><span id="htmlRate">{{rate}}</span>% </span> 
                                                                        
                                = 
                            </span>
                        </td>
                        <td> &#160; <span class="amounts"><i class="fa fa-usd" aria-hidden="true"></i><span id="htmlJustRate">{{ ((rate/100)*(Balance1 + Balance2))|number_format(2, '.', ',') }}</span> </div></td>        
                    </tr>
                    <tr>
                        <td><div class="text-right amounts"> + </div></td>
                        <td><span class="amounts">&#160; <i class="fa fa-usd" aria-hidden="true"></i><span  id="pendingAmount" class="pendingAmount">{{ (Balance1 + Balance2)|number_format(2, '.', ',') }}</span></span></td>        
                    </tr>
                    <tr>
                        <td><div class="text-right amounts">Total = </div></td>
                        <td>
                            <span class="amounts">
                                &#160; <i class="fa fa-usd" aria-hidden="true"></i>
                                <span id="boxHtmlTotalAmount" class="">{{ ((Balance1 + Balance2) + (rate/100)*(Balance1 + Balance2))|number_format(2, '.', ',') }}</span>
                                {% set SumBalance1Balance2 = ((Balance1 + Balance2) + (rate/100)*(Balance1 + Balance2)) %}
                                {% set pendingPaid = Balance1 + Balance2 %} <!-- No rate interest -->
                            </span>
                        </td>        
                    </tr>    
                </table>
            </div>
        </div>
        
    {% endif %}
</div>

<div>
    <hr>
    <div class="amounts text-center">
        Monto pendiente:  &#160; <i class="fa fa-usd" aria-hidden="true"></i>
        {% if rate_add is defined and rate != rate_add %} {# ==== condition =================================== #}
            <span id="" class="htmlTotalAmount">
                {{ (Balance1 + Balance2)|number_format(2, '.', ',') }} 
                {% set SumBalance1Balance2 = Balance1 + Balance2 %}
            </span>
        {% else %}
            <span id="" class="htmlTotalAmount">
                {{ SumBalance1Balance2|number_format(2, '.', ',') }}
            </span>
        {% endif %}
    </div>
</div>



{% if rate_add is defined and rate != rate_add %}
{# Init amounts ===========================================================================================  #}
    <input type="hidden" value="{{ pendingPaid }}" id="pendingAmountWithoutRate" name="pendingAmountWithoutRate">
    <input type="hidden" value="{{ ((rate/100)*pendingPaid)|number_format(2, '.', ',') }}" id="justRate">

    <input type="hidden" value="{{ quotas }}" id="overDueDateQuotas">
    <input type="hidden" value="{{ rate }}" id="overDueDateRate" name="overDueDateRate">
    <input type="hidden" value="{{ IsOverDueDate  }}" id="IsOverDueDate">


    {# additional amounts ===================================================================================== #}
     {% if hasBalance %}

        <input type="hidden" value="{{ pendingPaid_add }}" id="pendingAmountWithoutRate_additional" name="pendingAmountWithoutRate_additional">
        <input type="hidden" value="{{ ((rate_add/100)*pendingPaid_add)|number_format(2, '.', ',') }}" id="justRate_additional">

        <input type="hidden" value="{{ quotas_add }}" id="overDueDateQuotas_additional">
        <input type="hidden" value="{{ rate_add }}" id="overDueDateRate_additional" name="overDueDateRate_additional">
        <input type="hidden" value="{{ IsOverDueDate_add  }}" id="IsOverDueDate_additional">
     {% endif %}
     {# end additional amounts ===================================================================================== #}

{% else %}
        {# Init amounts ===========================================================================================  #}
       
        <input type="hidden" value="{{ pendingPaid }}" id="pendingAmountWithoutRate" name="pendingAmountWithoutRate">
        <input type="hidden" value="{{ ((rate/100)*pendingPaid)|number_format(2, '.', ',') }}" id="justRate">

        <input type="hidden" value="{{ quotas }}" id="overDueDateQuotas">
        <input type="hidden" value="{{ rate }}" id="overDueDateRate">
        <input type="hidden" value="{{ IsOverDueDate  }}" id="IsOverDueDate">
{% endif %}