{% extends 'app/base.html.twig' %}

{% block title_page %}
    Payments History - Money Loan
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %}

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %}


{#
{% block header %}
        <h1>Clients list</h1><hr>
{% endblock %}
#}

{% block content %}

<style>
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.splitPayment{
    padding-left:20px;
}

.amounts{
    font-size:14px;
    font-weight: 600;
    color: #34825F;
}

.loanIncompleted {
    color:red;
    font-weight: 600;
}
.loanCompleted {
    color:green;
    font-weight: 600;
}
</style>

{#  Check the notifications #}
{% set created = 0 %}
{% for message in app.session.flashbag().get("success") %}
    <div class="alert alert-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{message}}</div>
{% endfor %}
{% for message in app.session.flashbag().get("error") %}
    <div class="alert alert-danger"><i class="fa fa-times" aria-hidden="true"></i> {{message}} </div>
{% endfor %}
{# End notifications #}

<section class="content-header">
      <h1>
        Payment history
        <small>full detail</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{{ path('loan_index') }}">Loans</a></li>
        <li class="active">Payment history</li>
      </ol>
</section>
<hr>
<div class="box">
    <div class="box-header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12"> <h3 class="box-title">{% if loan.loaCompleted %}<span class="loanCompleted"><i class="fa fa-check-circle" aria-hidden="true"></i> Loan Completed</span>{% else %}<span class="loanIncompleted"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Loan Incomplete{% endif %}</span></h3><hr></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                
                <div class="well well-smX"><i class="fa fa-barcode" aria-hidden="true"></i> Loan code: <a href="{{ path('loan_show', { 'loaId': loan.loaId }) }}">{{ loan.loaCode }}</a></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="well well-smX">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
                    <span>Client:
                        <a href="{{ loan.cli.cliId }}" class="btnShowClient">
                            {{ loan.cli.cliFirstName ~" "~ loan.cli.cliMiddleName ~" "~ loan.cli.cliFirstSurname ~" "~ loan.cli.cliSecondSurname }}
                        </a>
                        {# {{ client.cliFirstName ~" "~ client.cliMiddleName ~" "~ client.cliFirstSurname ~" "~ client.cliSecondSurname }} #}
                    </span>
                </div>
            </div>
        </div>
         
    </div>
    <div class="box-body">
        {% if loan.loc.locKey == "inactive_rate" %}
            
            {% set arrRes = srv_Loans.checkPaymentsPerLoan(loan.loaId) %}
            {% set amountPay = arrRes[0]['currentAmount'] %}
            {% set titleTh = "Pending Amount" %}
        {% else %}
            {% set amountPay = loan.loaAmount %}
            {% set titleTh = "Next Quota" %}
        {% endif %}
        {# {% set iniAmount = loan.loaAmount %} #}
        {% set iniAmount = amountPay %}
        {% set pendingAmount = 0 %}

        {# {% set prevAmont =  loan.loaAmount %} #}
        {% set prevAmont =  amountPay %}
        {% set prevAmonut = 0 %}

        {{ loan.loc.locKey }}
        <table id="paymetslist" class="table table-striped display nowrap" style="width:100%">
            <thead>
                <tr>
                   
                    <th colspan="3" class="text-center">Payments date</th>

                    <th colspan="4" style="background-color: #D2D6DE; color: #34825F" class="text-center">Previous Payments</th>

                    <th colspan="3" style="background-color: #00A65A; color: #fff" class="text-center">Payments Done</th>

                    <th colspan="4" style="background-color: #00C0EF; color: #fff" class="text-center">{{ titleTh }}</th>

                    <th colspan="1" class="text-center">Some description</th>

                </tr>
                <tr>
                    <th><div class="col text-center">A</div>#</th>
                    <th><div class="col text-center">B</div>Date paid quota</th>
                    <th><div class="col text-center">C</div>Max date to payment</th>
                    
                    <th><div class="col text-center">D</div>Amount</th>
                    <th><div class="col text-center">E</div>Interest</th>
                    <th><div class="col text-center">F</div>Col(D) x Col(E)<div class="col text-center">Sub Total</div></th>
                    <th style="background-color: #d2d6de"><div class="col text-center">G<br>Col(D) + Col(F)</div><div class="col text-center">Total</div></th>

                    <th><div class="col text-center">H</div>Paid amount</th>
                    <th><div class="col text-center">I</div>Paid interest</th>
                    <th><div class="col text-center">J</div>Paid capital</th>

                    <th><div class="col text-center">K</div>Amount</th>
                    <th><div class="col text-center">L</div>Interest</th>
                    <th><div class="col text-center">M</div>Col(K) x Col(L)<div class="col text-center">Sub Total</div></th>
                    <th style="background-color: #00C0EF; color:#fff"><div class="col text-center">N</div>Col(K) + Col(M)<div class="col text-center">Total</div></th>
                    <th><div class="col text-center">O</div>&#160;</th>
                </tr>
            </thead>
            <tbody>
                {% set num = 0 %}
                {% set lastP = 0 %}

                {% set totalPaid = 0 %} 
                {% set totalCapital = 0 %}
                {% set totalRate = 0 %}
                {% for payment in payments %}
                    
                    {% set pendingAmount =  (iniAmount  -  payment.lpaPaidCapital)  %}
                    {% set  iniAmount =  pendingAmount %}

                    {% set num = num + 1 %}

                    
                    <tr>
                        <td>{{ num }}</td>
                        <td>{{ payment.lpaPaidDate|date('Y-m-d') }}</td>
                        <td>{{ payment.lpaMaxPaymentDate|date("Y-m-d") }}</td>
                        <td>
                            {% if lastP == 0 %}
                                {% set prev = (pendingAmount +  payment.lpaPaidCapital) %}
                                {# ${{ (pendingAmount +  payment.lpaPaidCapital)|number_format(2, '.', ',') }} #}
                            {% else %}
                                {% set prev = lastP %}
                               
                            {% endif %}  
                             <span class="label label-default amounts">${{ prev|number_format(2, '.', ',')  }}</span>  
                        </td>
                        <td>
                            <span class="label label-default amounts">
                                {% if payment.lpaCurrentRateInterest %}
                                    {{ payment.lpaCurrentRateInterest }}
                                {% else %}
                                    0
                                {% endif %}%
                            </span>
                        </td>

                        <td >
                            <span class="label label-default amounts">
                             {% set amonXrate =  ( (payment.lpaCurrentRateInterest/100)*prev) %}
                             ${{ amonXrate|number_format(2, '.', ',') }}
                            </span>
                        </td>

                        <td style="background-color: #d2d6de">
                            <span class="label label-default amounts">
                             ${{ (prev + amonXrate)|number_format(2, '.', ',') }}
                            </span>
                        </td>
                        <td><span class="label label-success amounts">${{ payment.lpaTotalAmountPaid|number_format(2, '.', ',') }}</span></td>
                        <td><span class="label label-success amounts">${{ payment.lpaPaidRateInterest|number_format(2, '.', ',') }}</span></td>
                        <td><span class="label label-success amounts">${{ payment.lpaPaidCapital|number_format(2, '.', ',') }}</span></td>
                        <td>
                            <span class="label label-info amounts">
                            {# {% set lastP =  (pendingAmount + ((payment.lpaCurrentRateInterest/100) * pendingAmount ) )%} #}
                            {% set lastP = pendingAmount %}
                            ${{ lastP|number_format(2, '.', ',')  }}
                            </span>
                        </td>
                        <td>
                            <span class="label label-info amounts">
                                {% if lastP > 0 %}
                                    {% if payment.lpaNextRateInterest %}
                                        {{ payment.lpaNextRateInterest }}
                                    {% else %}
                                        0
                                    {% endif %}
                                    %
                                {% else %}
                                    N/A
                                {% endif %}
                            </span>
                        </td>
                        <td> <span class="label label-info amounts">${{ (((payment.lpaNextRateInterest/100) * pendingAmount ) )|number_format(2, '.', ',') }} </span></td>
                        <td style="background-color: #00C0EF"><span class="label label-info amounts">${{ (pendingAmount + ((payment.lpaNextRateInterest/100) * pendingAmount ) )|number_format(2, '.', ',') }} </span></td>
                        <td ><div class="note">{{ payment.lpaNote }}</div></td>
                        

                        {% set totalPaid = totalPaid + payment.lpaTotalAmountPaid %}
                        {% set totalCapital = totalCapital + payment.lpaPaidCapital %}
                        {% set totalRate = totalRate + payment.lpaPaidRateInterest %}
                    </tr>
                    {#
                    <tr>
                        <td> {{ num }}</td>
                        <td>{{ payment.lpaPaidDate|date('Y-m-d') }}</td>
                        <td>{{ payment.lpaMaxPaymentDate|date("Y-m-d") }}</td>
                        
                        
                        <td>${{ (pendingAmount +  payment.lpaPaidCapital)|number_format(2, '.', ',') }}</td>
                        
                        
                        <td>{{ payment.lpaCurrentRateInterest }}%</td>

                        <td>
                            <span class="label label-default amounts">
                             ${{ ((pendingAmount + payment.lpaPaidCapital) + (payment.lpaCurrentRateInterest/100)*(pendingAmount + payment.lpaPaidCapital))|number_format(2, '.', ',') }}
                            </span>
                        </td>

                        <td><span class="label label-success amounts">${{ payment.lpaTotalAmountPaid|number_format(2, '.', ',') }}</span></td>

                        <td>${{ payment.lpaPaidRateInterest|number_format(2, '.', ',') }}</td>
                        <td>${{ payment.lpaPaidCapital|number_format(2, '.', ',') }}</td>
                        <td>
                            <span class="label label-info amounts">${{ (pendingAmount + ((payment.lpaCurrentRateInterest/100) * pendingAmount ) )|number_format(2, '.', ',') }}</span>
                        </td>
                        <td>{{ payment.lpaNote }}</td>
                    </tr>
                    #}
                    
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    
                    
                    <th><span class="label label-success amounts">${{ totalPaid|number_format(2, '.', ',') }}</span></th>
                    <th><span class="label label-success amounts">${{ totalRate|number_format(2, '.', ',') }}</span></th>
                    <th><span class="label label-success amounts">${{ totalCapital|number_format(2, '.', ',') }}</span></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        
        <ul class="list-inline">
            <li>
                <a class="btn btn-info marginBT" href="{{ path('loan_index') }}">Back to the loans list</a>
                <li>
                    <a class="btn btn-primary marginBT" href="{{ path('loan_edit', { 'loaId': loan.loaId }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                </li>
                {% if loan.loaCompleted == 0 %}
                    <li><a href="{{ path('loanpayment_new',{'loaId':loan.loaId} ) }}" id="" class="btn bg-olive marginBT "><i class="fa fa-money" aria-hidden="true"></i> Payment</a></li>
                {% endif %}
            </li>
            {#
            <li>
                <a href="{{ path('loanpayment_edit', { 'lpaId': loanPayment.lpaId }) }}">Edit</a> 
            </li>
            #}
        </ul>
    </div>
</div>

{{ include('app/client/_modals.html.twig' )  }} 
{% endblock %}

{% block codejs %}
    <script>
        //$(document).on("ready", function(){
        $(function (){
            $('#paymetslist').DataTable({
                "scrollX": true,
                //'paging'      : true,
                //'lengthChange': false,
                //'searching'   : false,
                //'ordering'    : true,
                //'info'        : true,
                //'autoWidth'   : false,
                //'dom': 'Bfrtip',
                "order": [[ 0, "desc" ]],
                'dom': 'Blfrtip',
                'buttons': [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                /*
                'columnDefs': [
                    {'max-width': '5%', 'targets': 13}
                 ],
                 */
                
            });
           //Date picker
            /*
            $('.datepicker').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd'
            });
            */
            $('.datepicker').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'YYYY-MM-DD'
                },
                //minYear: 1901,
                //maxYear: parseInt(moment().format('YYYY'),10)
            }, function(start, end, label) {
                //var years = moment().diff(start, 'years');
                //alert("You are " + years + " years old!");
            }); 

            $("form[name='appbundle_loanpayment']").submit(function(){
                $("#holder_loading").show();
            });

            $("body").on("click",".btnShowClient",function(event){
                event.preventDefault();
                var id = $(this).attr("href");
                showClient(id);
            });

            function showClient(id) {
                var id = id;
                var routeShow = "{{ path('client_show', { 'cliId': 'PLACEHOLDER'}) }}";
                routeShow = routeShow.replace("PLACEHOLDER", id);
				$("#holder_loading").show();
				$.ajax({
						type: "POST",
						url: routeShow,
						data: { id:id},
						error: function (data) {
							$("#holder_loading").hide();
							$.confirm({
								icon: 'fa fa-remove',
								title: 'Error!',
								content: 'An error occurred while trying to send the request',
								type: 'red',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Try again',
										btnClass: 'btn-red',
										action: function () {
											showClient(id);
										}
									},
									close: function () {
									}
								}
							});

						},
						success: function (data) {

							if (data != "")
							{

								//$('form[name$=appbundle_paciente]')[0].reset();
								//var routeShow = " {# {{ path('perfil_show') }} #}" //routeShow.replace("PLACEHOLDER", data);
								//window.location.assign(routeShow);
								$('#modalShowClient').modal({backdrop: 'static', keyboard: false});
                                $("#holderBodyModal").html(data);

                                var href = "{{ path('client_edit', { 'cliId': 'PLACEHOLDER' }) }}";
                                href = href.replace("PLACEHOLDER", id);    
                                $("body").find("#btnModalEditClient").attr("href", href);
                                $("body").find("#btnModalLoanClient").val(id);
        

                                $("#holder_loading").hide();
                                /*
                                $.alert({
                                    icon: 'fa fa-address-card-o',
                                    title: 'Client',
                                    type: "green",
                                    content: 'Full information'+data,
                                });
                                */
							} else
							{
								$("#holder_loading").hide();
								var infoError = (data);
								$.alert({
									icon: 'glyphicon glyphicon-exclamation-sign',
									title: 'Info!',
									content: 'An error occurred while trying to save the information <br>' + infoError,
									type: 'blue',
									typeAnimated: true,
								});
							}
						}
					});
            } 

        });
    </script>    
{% endblock %}
