{% extends 'app/base.html.twig' %}

{% block title_page %}
    Payments History - Money Loan
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %}

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %}


{#
{% block header %}
        <h1>Clients list</h1><hr>
{% endblock %}
#}

{% block content %}

<style>
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.splitPayment{
    padding-left:20px;
}

.amounts{
    font-size:14px;
    font-weight: 600;
    color: #34825F;
}

.loanIncompleted {
    color:red;
    font-size:20px;
    font-weight: 700;
}
.loanCompleted {
    color:green;
    font-size:20px;
    font-weight: 700;
}

</style>

{#  Check the notifications #}
{% set created = 0 %}
{% for message in app.session.flashbag().get("success") %}
    <div class="alert alert-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{message}}</div>
{% endfor %}
{% for message in app.session.flashbag().get("error") %}
    <div class="alert alert-danger"><i class="fa fa-times" aria-hidden="true"></i> {{message}} </div>
{% endfor %}
{# End notifications #}

<section class="content-header">
      <h1>
        Payment history
        <small>full detail</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('dashboard_index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{{ path('loan_index') }}">Loans</a></li>
        <li class="active">Payment history</li>
      </ol>
</section>
<hr>
<div class="box">
    <div class="box-header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12"> <div class="box-titlex text-center">
                {% if loan.loaCompleted == 1 %}
                    <span class="loanCompleted">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> 
                        Loan Finished
                    </span>
                {% elseif loan.loaCompleted == 2 %}
                    <span class="loanIncompleted"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Loan Freezed</span>
                {% else %}
                    <span class="loanIncompleted"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This loan is not finished yet</span>    
                {% endif %}
            </div>
        </div>
         
    </div>
    <div class="box-body">
        {#
            {% if loan.loc.locKey == "inactive_rate" %}
                
                {% set arrRes = srv_Loans.checkPaymentsPerLoan(loan.loaId) %}
                {% set amountPay = arrRes[0]['currentAmount'] %}
                {% set titleTh = "Pending Amount" %}
            {% else %}
        #}
        {% set amountPay = loan.loaAmount %}
        {% set titleTh = "Next Quota" %}
        {# {% endif %} #}
        {# {% set iniAmount = loan.loaAmount %} #}
        {% set iniAmount = amountPay %}
        {% set pendingAmount = 0 %}

        {# {% set prevAmont =  loan.loaAmount %} #}
        {% set prevAmont =  amountPay %}
        {% set prevAmonut = 0 %}

        <div class="well">
            <div class="row">
                <div class="col-lg-4">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
                    <span>
                        <a href="{{ loan.cli.cliId }}" class="btnShowClient">
                            {{ loan.cli.cliFirstName ~" "~ loan.cli.cliMiddleName ~" "~ loan.cli.cliFirstSurname ~" "~ loan.cli.cliSecondSurname }}
                        </a>
                        {# {{ client.cliFirstName ~" "~ client.cliMiddleName ~" "~ client.cliFirstSurname ~" "~ client.cliSecondSurname }} #}
                    </span>
                </div>
                <div class="col-lg-4">
                    <i class="fa fa-barcode" aria-hidden="true"></i> Code: <a href="{{ path('loan_show', { 'loaId': loan.loaId }) }}"> {{ loan.loaCode }} </a> 
                </div>
                <div class="col-lg-4">    
                    <i class="fa fa-money" aria-hidden="true"></i> Init Amount: <b class="amounts"><i class="fa fa-usd" aria-hidden="true"></i> {{ loan.loaAmount|number_format(2, '.', ',') }}</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Note: {% if loan.loaDescription %}{{loan.loaDescription}}{% else %}N/A{% endif %}</div>
        </div>
        <hr>
        {% if loan.loc.locKey == "inactive_rate" %}
            {% set arr =  srv_Loans.getAllDetailLoan(loan.loaId) %}
            {{ include('app/loan/_inputNoRateEditPayments.html.twig',{"action":"history"} )  }} 
        {% else %}
            {{ include('app/loanpayment/_quotasWithRate.html.twig' )  }} 
        {% endif %}
        
        <hr>
        <ul class="list-inline">
            <li>
                <a class="btn btn-info marginBT" href="{{ path('loan_index') }}"><i class="fa fa-list-ul" aria-hidden="true"></i> Loans list</a>
                <li>
                    <a class="btn btn-primary marginBT" href="{{ path('loan_edit', { 'loaId': loan.loaId }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                </li>
                {% if loan.loaCompleted == 0 %}
                    <li><a href="{{ path('loanpayment_new',{'loaId':loan.loaId} ) }}" id="" class="btn bg-olive marginBT "><i class="fa fa-money" aria-hidden="true"></i> Payment</a></li>
                {% endif %}
            </li>
            {#
            <li>
                <a href="{{ path('loanpayment_edit', { 'lpaId': loanPayment.lpaId }) }}">Edit</a> 
            </li>
            #}
        </ul>
    </div>
    </div>
</div>

{{ include('app/client/_modals.html.twig' )  }} 
{% endblock %}

{% block codejs %}
    <script>
        //$(document).on("ready", function(){
        $(function (){
            $('#paymetslist').DataTable({
                "scrollX": true,
                //'paging'      : true,
                //'lengthChange': false,
                //'searching'   : false,
                //'ordering'    : true,
                //'info'        : true,
                //'autoWidth'   : false,
                //'dom': 'Bfrtip',
                "order": [[ 0, "desc" ]],
                'dom': 'Blfrtip',
                'buttons': [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                
                'columnDefs': [
                    //{'max-width': '5%', 'targets': 13}
                    { targets: 'no-sort', orderable: false }
                 ],
                 
                
            });
           //Date picker
            /*
            $('.datepicker').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd'
            });
            */
            $('.datepicker').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'YYYY-MM-DD'
                },
                //minYear: 1901,
                //maxYear: parseInt(moment().format('YYYY'),10)
            }, function(start, end, label) {
                //var years = moment().diff(start, 'years');
                //alert("You are " + years + " years old!");
            }); 

            $("form[name='appbundle_loanpayment']").submit(function(){
                $("#holder_loading").show();
            });

            $("body").on("click",".btnShowClient",function(event){
                event.preventDefault();
                var id = $(this).attr("href");
                showClient(id);
            });

            function showClient(id) {
                var id = id;
                var routeShow = "{{ path('client_show', { 'cliId': 'PLACEHOLDER'}) }}";
                routeShow = routeShow.replace("PLACEHOLDER", id);
				$("#holder_loading").show();
				$.ajax({
						type: "POST",
						url: routeShow,
						data: { id:id},
						error: function (data) {
							$("#holder_loading").hide();
							$.confirm({
								icon: 'fa fa-remove',
								title: 'Error!',
								content: 'An error occurred while trying to send the request',
								type: 'red',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Try again',
										btnClass: 'btn-red',
										action: function () {
											showClient(id);
										}
									},
									close: function () {
									}
								}
							});

						},
						success: function (data) {

							if (data != "")
							{

								//$('form[name$=appbundle_paciente]')[0].reset();
								//var routeShow = " {# {{ path('perfil_show') }} #}" //routeShow.replace("PLACEHOLDER", data);
								//window.location.assign(routeShow);
								$('#modalShowClient').modal({backdrop: 'static', keyboard: false});
                                $("#holderBodyModal").html(data);

                                var href = "{{ path('client_edit', { 'cliId': 'PLACEHOLDER' }) }}";
                                href = href.replace("PLACEHOLDER", id);    
                                $("body").find("#btnModalEditClient").attr("href", href);
                                $("body").find("#btnModalLoanClient").val(id);
        

                                $("#holder_loading").hide();
                                /*
                                $.alert({
                                    icon: 'fa fa-address-card-o',
                                    title: 'Client',
                                    type: "green",
                                    content: 'Full information'+data,
                                });
                                */
							} else
							{
								$("#holder_loading").hide();
								var infoError = (data);
								$.alert({
									icon: 'glyphicon glyphicon-exclamation-sign',
									title: 'Info!',
									content: 'An error occurred while trying to save the information <br>' + infoError,
									type: 'blue',
									typeAnimated: true,
								});
							}
						}
					});
            } 

        });
    </script>    
{% endblock %}
